@model InsureThatAPI.Models.FarmDetails
@{
    ViewBag.Title = "FarmDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var urlIdSuccess = new string[] { };
    var urlId_Success = Session["completionTrackPFP"].ToString();
    if (urlId_Success != null)
    {
        urlIdSuccess = urlId_Success.Split('-');
    }
}
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 policy-indiv-head">
    <h4><span>FARM PROTECTION POLICY</span> / FIXED FARM PROPERTY</h4>
</div>
<div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 endorsmentview">
    <div class="mt-40 mb-40 row"></div>
    <div id="processTabs">
        <ul class="process-steps clearfix col-sm-12">
            <li>
                <a href="@Url.Action("FarmLocationDetails", "FarmPolicyProperty" ,new {cid=@Model.CustomerId })" @if (urlIdSuccess != null && urlIdSuccess.Length > 0 && urlIdSuccess[0] == "1") { <text> class="success" </text>  }>Farm Location Details</a>
            </li>
            <li>
                <a href="javascript:void(0)" class="active">Farm Building</a>
            </li>
            <li>
                <a href="@Url.Action("FarmStructures", "FarmPolicyProperty",new {cid=@Model.CustomerId })" @if (urlIdSuccess != null && urlIdSuccess.Length > 0 && urlIdSuccess[2] == "1") { <text> class="success" </text>  }>Farm Structures</a>
            </li>
            <li>
                <a href="@Url.Action("HarvestedCrops", "FarmPolicyProperty",new {cid=@Model.CustomerId })" @if (urlIdSuccess != null && urlIdSuccess.Length > 0 && urlIdSuccess[3] == "1") { <text> class="success" </text>  }>Harvested Crops</a>
            </li>
            <li>
                <a href="@Url.Action("InterestedParties", "FarmPolicyProperty",new {cid=@Model.CustomerId })" @if (urlIdSuccess != null && urlIdSuccess.Length > 0 && urlIdSuccess[4] == "1") { <text> class="success" </text>  }>Interested Parties</a>
            </li>
        </ul>
        <div>
            <div id="errorContainer"></div>
            @using (Ajax.BeginForm("FarmDetails", "FarmPolicyProperty", new { cid = @ViewBag.CustomerId }, new AjaxOptions()
            {
                HttpMethod = "POST"
            }, new { @id = "farmDetails", @name = "farmDetails" }))
            {
            @Html.AntiForgeryToken()
            <div id="ptab2">
                @Html.HiddenFor(p => p.completionTrackPFP, new { @id = "completiontrack" })
                @Html.HiddenFor(p => p.CustomerId)
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 policy-full-head"><h2>FARM BUILDINGS</h2></div>
                <div class="clearfix mb-md-30 mt-10 mb-10">
                    <h5 class="col-md-12"><a href="#FrBuhectarModal" role="button" data-target="#FrBuhectarModal" data-toggle="modal">Click here to see the definition of farm buildings</a></h5>

                    @*<p class="col-md-6 col-sm-6 col-xs-12">Tell us about any farm structures you have</p>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        @Html.TextAreaFor(p => p.Aboutfarmstructures, new { @id= "aboutfarmstructures", @class = "form-control form-border-bottom" })
                    </div>*@
                </div>
                <div id="FrBuhectarModal" class="modal" data-easein="fadeIn" tabindex="-1" role="dialog" aria-labelledby="costumModalLabel" aria-hidden="false">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h3 class="pull-left">Farm Building</h3>
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                    <img src="images/close-icon.png" />
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                </p>
                                <p> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-default no-border" data-dismiss="modal" aria-hidden="true"> Back </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="coolroomModal" class="modal" data-easein="fadeIn" tabindex="-1" role="dialog" aria-labelledby="costumModalLabel" aria-hidden="false">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h3 class="pull-left">Farm Building</h3>
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                    <img src="~/images/close-icon.png" />
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                </p>
                                <p> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-default no-border" data-dismiss="modal" aria-hidden="true"> Back </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix mt-10 mb-10">
                    <p class="col-md-12">What type of farm building/s do you need to cover?</p>
                </div>
                <div class="clearfix mb-md-30 mt-10 mb-10">
                    <div class="col-md-12 table-8">
                        <table class="table" style=" width: 100%; ">
                            <thead>
                                <tr>
                                    <th class="space_left">Detailed Description</th>
                                    <th class="space_left">Year constructed</th>
                                    <th class="space_left">Construction</th>
                                    <th class="space_left">Does it contain a <a href="#coolroomModal" role="button" data-target="#coolroomModal" data-toggle="modal">coolroom</a></th>
                                    <th class="space_left">How much do you need to replace your building</th>
                                    <th class="space_right">&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr id="tname-tr-1">
                                    <td class="no-border">
                                        @Html.TextBoxFor(p => p.DescriptionFBObj.Description, new { @class = "form-control form-border-bottom", @id = "description1" })
                                        @Html.HiddenFor(p => p.DescriptionFBObj.EiId)
                                    </td>
                                    <td class="no-border">
                                        @Html.TextBoxFor(p => p.YearconstructedFBObj.Year, new { @class = "form-control form-border-bottom year", @id = "year1" })
                                        @Html.HiddenFor(p => p.YearconstructedFBObj.EiId)
                                    </td>
                                    <td class="no-border">
                                        @Html.DropDownListFor(p => p.ConstructionFBObj.Construction, @Model.ConstructionFBObj.ConstructionHCList, "--Select--", new { @class = "form-control form-border-bottom", @id = "construction1" })
                                        @Html.HiddenFor(p => p.ConstructionFBObj.EiId)
                                    </td>
                                    <td class="no-border">
                                        <div class="policy-loc-row">
                                            <input type="checkbox" name="Coolroom" id="coolroom1">
                                            <label for="checkbox1"><span><span></span></span></label>
                                            @Html.HiddenFor(p => p.ContaincoolroomObj.EiId)
                                        </div>
                                    </td>
                                    <td class="no-border">
                                        @Html.TextBoxFor(p => p.SuminsuredFBObj.Suminsured, new { @class = "form-control form-border-bottom", @id = "suminsured1" })
                                        @Html.HiddenFor(p => p.SuminsuredFBObj.EiId)
                                    </td>
                                    <td class="no-border" id="tname-1"><a href="javascript:void(0)" onclick="tnameAdd(1)" class="button-3d">+</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="clearfix mb-md-30 mt-10 mb-10">
                    <p class="col-md-6 col-sm-6 col-xs-12">Do you confirm that all Farm Structures to be insured are structurally sound, well maintained and have no unrepaired damage?</p>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="col-md-6 col-sm-6 col-xs-12 policy-loc-row">@Html.RadioButtonFor(m => m.UnrepaireddamageObj.Unrepaireddamage, '0', new { @id = "unrepaireddamage0", @class = "unrepaireddamage" })<label for="radio1"><span><span></span></span>Yes</label></div>
                        <div class="col-md-6 col-sm-6 col-xs-12 policy-loc-row">@Html.RadioButtonFor(m => m.UnrepaireddamageObj.Unrepaireddamage, '1', new { @id = "unrepaireddamage1", @class = "unrepaireddamage" })<label for="radio1"><span><span></span></span>No</label></div>
                    </div>
                </div>
                <p class="mini-text col-md-12">
                    Note: We cannot insure structurally unsound Farm Structures and claims will not be paid on them.
                    You need to answer this question even if you are just insuring harvested crops under this section.
                </p>
                <div class="col-md-6 pull-right text-right mt-30">
                    <a href="@Url.Action("FarmLocationDetails", "FarmPolicyProperty")" class="button-3d nomargin tab-linker quot-prev-btn" rel="1">Prev</a>
                    <img src="~/images/button-devider.png">
                    <button class="button-3d nomargin tab-linker quot-next-btn" type="submit">Next</button>
                </div>
            </div>
            }
        </div>
    </div>
</div>
<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 policy-side-wrap">
    <h3>Policy Sections</h3>
    <div class="well">
        <div class="policy-loc-row">
            <input type="radio" name="location1" id="location1" /><label for="radio1"><span><span></span></span>Home Building Location 1</label>
            <script type="text/javascript">
                $(document).ready(function () {
                    $('#location1').click(function () {
                        $("#policy-ed-del-wrap1").fadeIn('slow');
                        $("#policy-ed-del-wrap2").fadeOut('slow');
                    });
                });
            </script>
            <div id="policy-ed-del-wrap1" class="policy-ed-del-wrapper" style="display: none;">
                <a class="btn color-bk-btn policy-edit-wrap" href="#">Edit</a>&nbsp; <a class="btn color-bk-btn policy-delet-wrap" href="#">Delete</a>
            </div>
        </div>
        <div class="policy-loc-row">
            <input type="radio" name="location1" id="location2" /><label for="radio1"><span><span></span></span>Valuables</label>
            <script type="text/javascript">
                $(document).ready(function () {
                    $('#location2').click(function () {
                        $("#policy-ed-del-wrap2").fadeIn('slow');
                        $("#policy-ed-del-wrap1").fadeOut('slow');
                    });
                });
            </script>
            <div id="policy-ed-del-wrap2" class="policy-ed-del-wrapper" style="display: none;">
                <a class="btn color-bk-btn policy-edit-wrap" href="#">Edit</a>&nbsp; <a class="btn color-bk-btn policy-delet-wrap" href="#">Delete</a>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="dropdown pc pc-in">
            <a class="new-cover-policy" href="#">New Cover</a>
            <ul class="dropdown-menu col-md-12">
                <li><a href="#">+  Home Building</a></li>
                <li><a href="#">+  Home Content</a></li>
                <li><a href="#">+  Travel</a></li>
                <li><a href="#">+  Valuables</a></li>
                <li><a href="#">+  Farm Property</a></li>
                <li><a href="#">+  Liability</a></li>
                <li><a href="#">+  Boat</a></li>
                <li><a href="#">+  Motor</a></li>
                <li><a href="#">+  Pets</a></li>
            </ul>
        </div>
    </div>
</div>
<script src="~/js/datepicker.min.js"></script>
<script type="text/javascript">
    $(function () {
        $(".year").datepicker({ minViewMode: 2, format: 'yyyy' });
    });
</script>
<script type="text/javascript">
    function tnameAdd(id) {
        var countId = id + 1;
        var replaceA = '<a href="javascript:void(0)" onclick="tnameRemove(' + id + ')" class="button-3d">-</a>';
        var html = '<tr id="tname-tr-'+countId+'"><td class="no-border">@Html.TextBoxFor(p => p.DescriptionFBObj.Description, new { @class = "form-control form-border-bottom", @id = "description" })@Html.HiddenFor(p => p.DescriptionFBObj.EiId)</td><td class="no-border">@Html.TextBoxFor(p => p.YearconstructedFBObj.Year, new { @class = "form-control form-border-bottom year", @id = "year" })@Html.HiddenFor(p => p.YearconstructedFBObj.EiId)</td><td class="no-border">@Html.DropDownListFor(p => p.ConstructionFBObj.Construction, Enumerable.Empty<SelectListItem>(), new { @class = "form-control form-border-bottom", @id = "construction" })@Html.HiddenFor(p => p.ConstructionFBObj.EiId)</td><td class="no-border"><div class="policy-loc-row"><input type="checkbox" name="Coolroom" id="coolroom"><label for="checkbox1"><span><span></span></span></label>@Html.HiddenFor(p => p.ContaincoolroomObj.EiId)</div></td><td class="no-border">@Html.TextBoxFor(p => p.SuminsuredFBObj.Suminsured, new { @class = "form-control form-border-bottom", @id = "suminsured1" })@Html.HiddenFor(p => p.SuminsuredFBObj.EiId)</td><td class="no-border" id="tname-'+countId+'"><a href="javascript:void(0)" onclick="tnameAdd('+countId+')" class="button-3d">+</a></td></tr>';

        $.ajax({
            url: '/farm/farmajaxcontent',
            type: 'POST',
            data: { "id": countId, "content": "farmDetails" },
            success: function (response) {
                if (response.status == true) {
                    var html2 = '';
                    $.each(response.con, function (i, v) {
                        html2 += '<option value="' + v.Value + '">' + v.Text + '</option>';
                    });
                    $("#tname-" + id).html(replaceA);
                    $("#tname-tr-" + id).after(html);
                    $("#tname-tr-" + countId + ' #construction').html(html2);
                    $(".year").datepicker({ minViewMode: 2, format: 'yyyy' });

                    $("#tname-tr-" + countId + ' #description').attr('id', "description" + countId);
                    $("#tname-tr-" + countId + ' #year').attr('id', "year" + countId);
                    $("#tname-tr-" + countId + ' #construction').attr('id', "construction" + countId);
                    $("#tname-tr-" + countId + ' #coolroom').attr('id', "coolroom" + countId);
                    $("#tname-tr-" + countId + ' #suminsured').attr('id', "suminsured" + countId);
                }
            }
        });
    }
    function tnameRemove(id) {
        $("#tname-tr-" + id).remove();
    }
</script>
<script type="text/javascript" src="~/Scripts/jquery.validate.js"></script>
<script type="text/javascript" src="~/Scripts/additional-methods.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $.validator.addMethod("regex", function (value, element, regexp) {
            if (regexp.constructor != RegExp)
                regexp = new RegExp(regexp);
            else if (regexp.global)
                regexp.lastIndex = 0;
            return this.optional(element) || regexp.test(value);
        }, "Please check your input.");
        $("form[name='farmDetails']").validate({
            errorContainer: "#errorContainer",
            errorLabelContainer: "#errorContainer",
            errorElement: "li",
            rules: {
                "Aboutfarmstructures": {
                    minlength: 20,
                },
                "DescriptionFBObj.Description": {
                    regex: /^[a-zA-Z ]*$/,
                },
                "YearconstructedFBObj.Year": {
                    regex: /^[0-9]*$/,
                },
                "SuminsuredFBObj.Suminsured": {
                    regex: /^[0-9]*$/,
                },
                "UnrepaireddamageObj.Unrepaireddamage": "required",
            },
            messages: {
                "Aboutfarmstructures": {
                    minlength: "Please enter minimum 20 character in about farm structures",
                },
                "DescriptionFBObj.Description": {
                    regex: "Special character & numeric not allowed in description"
                },
                "YearconstructedFBObj.Year": {
                    regex: "Only numeric allowed in year"
                },
                "SuminsuredFBObj.Suminsured": {
                    regex: "Only numeric allowed in sum insured"
                },
                "UnrepaireddamageObj.Unrepaireddamage": "Please select unrepaired damage",
            },
            onfocusout: function (element) {
                this.element(element);
            },
            submitHandler: function (form) {
                form.submit();
            }
        });
    });
</script>