@model InsureThatAPI.Models.ViewEditPolicyDetails
@{
    ViewBag.Title = "Home Bilding";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (Model.PolicyData != null)
{
    <div class="row content">
        <div class="col-lg-6 col-md-6 col-sm-4 col-xs-12 policy-full-head">
            <h2>
                POLICY DETAILS<span>
                    @if (Model.PolicyData.InsuredName != null)
                    {
                        <span>@Model.PolicyData.InsuredName /</span>
                    }
                    @if (Model.PolicyData.PolicyNumber != null)
                    {
                        @Model.PolicyData.PolicyNumber
                    }
                    @if (Model.PolicyData.PolicyStatus != null)
                    {
                        if (Model.PolicyData.PolicyStatus == "AP")
                        { <span>/ Endorsed Policy</span> }
                        else if (Model.PolicyData.PolicyStatus == "AQ")
                        { <span>/ Endorsement Quotation</span> }
                        else if (Model.PolicyData.PolicyStatus == "CP")
                        { <span>/ Cancelled Policy</span> }
                        else if (Model.PolicyData.PolicyStatus == "CQ")
                        { <span>/ Cancellation Quotation</span> }
                        else if (Model.PolicyData.PolicyStatus == "DQ")
                        { <span>/ Discarded Quotation</span> }
                        else if (Model.PolicyData.PolicyStatus == "NP")
                        { <span>/ New Policy</span> }
                        else if (Model.PolicyData.PolicyStatus == "NQ")
                        { <span>/ Quotation</span> }
                        else if (Model.PolicyData.PolicyStatus == "RP")
                        { <span>/ Renewed Policy</span> }
                        else if (Model.PolicyData.PolicyStatus == "RQ")
                        { <span>/ Renewal Invitation</span> }
                        else if (Model.PolicyData.PolicyStatus == "XP")
                        { <span>/ Cancelled Policy</span> }
                        else if (Model.PolicyData.PolicyStatus == "XQ")
                        { <span>/ Cancellation Quotation</span> }
                    }
                </span>

            </h2>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            @if (Model.PolicyData.PolicyStatus == "NP" || Model.PolicyData.PolicyStatus == "RP" || Model.PolicyData.PolicyStatus == "AP")
            {
                <a class="btn color-bk-btn col-md-4 margin-right-10 leftmargin-sm pull-right" href="@Url.Action("PolicyHistory", "RuralLifeStyle", new { cid = @ViewBag.cid, PcId = Model.PolicyData.PolicyNumber })">View Policy History</a>
                <a class="btn color-bk-btn col-md-3 margin-left-5 leftmargin-sm pull-right" href="@Url.Action("InsuredList", "Customer", new { cid = @ViewBag.cid, PolicyNumber = Model.PolicyData.PolicyNumber })">View Insured</a>
            }
            <a class="btn color-bk-btn col-sm-3 margin-left-5 pull-right" href="@Url.Action("NewPolicy", "Customer", new { cid = @ViewBag.cid})">Add Policy</a>
        </div>

        <div class="mt-50 mb-50"></div>
        <div class="p-10 col-md-12 border-bottom-1 mb-15">
            <div class="col-lg-1 col-md-1 col-sm-2 col-xs-12">
                <img src="~/images/farm-icon.png" class="policy-list-img">
            </div>
            <div class="col-lg-11 col-md-11 col-sm-10 col-xs-12">
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 p-10">
                                Policy Type: @if (Model.PolicyData.PrId == 1029 || Model.PolicyData.PrId == 1009)
                                {
                                    <lable>Rural Lifestyle</lable>
                                }
                                else
                                { <label>Farm</label>
                                }
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 p-10">
                                Policy No: @Model.PolicyData.PolicyNumber
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 p-10">Insured: @Model.PolicyData.InsuredName</div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 p-10">Start Date: @Model.PolicyData.InceptionDate.ToString("dd/MM/yyyy")</div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 p-10">End Date: @Model.PolicyData.ExpiryDate.ToString("dd/MM/yyyy")</div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 p-10">Duration: @Model.PolicyData.CoverPeriod &nbsp;@Model.PolicyData.CoverPeriodUnit</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <div class="pc-list-btn col-sm-offset-0 col-xs-offset-1">
                        <div class="dropdown" style="list-style: none;">
                            <a href="#" class=" btn-primary btn col-md-12 mb-5 vwdoc">View Documents </a>
                            <ul class="dropdown-menu"></ul>
                        </div>
                    </div>
                    @if (Model.PolicyData.PolicyStatus == "NP" || Model.PolicyData.PolicyStatus == "RP" || Model.PolicyData.PolicyStatus == "AP")
                    {
                        @*<a href="#cancelpolicymodel" class="btn-primary btn col-md-12">Cancel Policy</a>*@
                        <button type="button" href="#cancelpolicymodel" role="button" data-target="#cancelpolicymodel" class="btn-primary btn col-md-12" data-toggle="modal">Cancel Policy</button>

                    }
                    @*else
                        {
                            <a href="#Bindcovermodel" class="btn-primary btn col-md-12">Bind Policy</a>
                        }*@
                </div>
                <div id="cancelpolicymodel" class="modal" data-easein="fadeIn" tabindex="-1" role="dialog" aria-labelledby="cancelpolicymodel" aria-hidden="false">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h3 class="pull-left">Cancel Policy</h3>
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                    <img src="~/images/close-icon.png" />
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>Are you sure cancelling this policy. Action can not be reversed.</p>
                                <p>Select reson for cancelling</p>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-default no-border" data-dismiss="modal" aria-hidden="true"> Back </button>
                                <button class="btn btn-default no-border" id="cancelpo" aria-hidden="true"> Confirm </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="Bindcovermodel" class="modal" data-easein="fadeIn" tabindex="-1" role="dialog" aria-labelledby="Bindcovermodel" aria-hidden="false">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h3 class="pull-left">Bind Quotation</h3>
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                    <img src="~/images/close-icon.png" />
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>If all the inclustions are completed then you can continue and bind the cover and complete the policy.</p>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-default no-border" id="bindcover" aria-hidden="true"> Bind </button>
                                <button class="btn btn-default no-border" data-dismiss="modal" aria-hidden="true"> Back </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="endorsepolicys" class="modal" data-easein="fadeIn" tabindex="-1" role="dialog" aria-labelledby="endorsepolicys" aria-hidden="false">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h3 class="pull-left">Endorse Policy</h3>
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                    <img src="~/images/close-icon.png" />
                                </button>
                            </div>
                            <div class="modal-body">
                                <p></p>

                                <p><B>Cover Period:</B> <span>@Model.PolicyData.CoverPeriod &nbsp;@Model.PolicyData.CoverPeriodUnit </span></p>
                                <p>
                                    <B>Status:</B> @if (Model.PolicyData.PolicyStatus != null)
                                    {
                                        if (Model.PolicyData.PolicyStatus == "AP")
                                        { <span> Endorsed Policy</span> }
                                        else if (Model.PolicyData.PolicyStatus == "AQ")
                                        { <span> Endorsement Quotation</span> }
                                        else if (Model.PolicyData.PolicyStatus == "CP")
                                        { <span> Cancelled Policy</span> }
                                        else if (Model.PolicyData.PolicyStatus == "CQ")
                                        { <span> Cancellation Quotation</span> }
                                        else if (Model.PolicyData.PolicyStatus == "DQ")
                                        { <span> Discarded Quotation</span> }
                                        else if (Model.PolicyData.PolicyStatus == "NP")
                                        { <span> New Policy</span> }
                                        else if (Model.PolicyData.PolicyStatus == "NQ")
                                        { <span> Quotation</span> }
                                        else if (Model.PolicyData.PolicyStatus == "RP")
                                        { <span> Renewed Policy</span> }
                                        else if (Model.PolicyData.PolicyStatus == "RQ")
                                        { <span> Renewal Invitation</span> }
                                        else if (Model.PolicyData.PolicyStatus == "XP")
                                        { <span> Cancelled Policy</span> }
                                        else if (Model.PolicyData.PolicyStatus == "XQ")
                                        { <span> Cancellation Quotation</span> }
                                    }
                                </p>
                                <p><B>From what date would you like these changes to occur? </B><span> <input name="effectivedate" id="effectivedate" type="text" class="form-control col-sm-2 form-border-bottom datePicker vlidationInsure commondataDDMMYYYlocal" data-inputmask-alias="date" data-inputmask-inputformat="dd/mm/yyyy" /></span></p>
                                <label id="effectivedate-error" class="error" for="effectivedate"></label>
                                <p>Please note that you cannot change the start date of your policy. </p>
                            </div>
                            <div class="modal-footer">

                                <button class="btn btn-default no-border" data-dismiss="modal" aria-hidden="true"> Back </button>
                                <button class="btn btn-default no-border" id="endorsecover" aria-hidden="true"> Endorse </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<div class="error"></div>
<div class="row content">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 policy-full-head">
        <div class="row content policy-full-view">
            <div id="screens" class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                <div class="deletedsuccess"></div>
                @if (Model.SectionData != null)
                {
                    using (Html.BeginForm("ActionName", "PolicyDetails", FormMethod.Get, new { cid = @ViewBag.cid, PcId = @Model.PolicyData.PcId }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="well">
                            @Html.HiddenFor(p => p.CustomerId, new { @id = "ciid" })
                            @Html.HiddenFor(p => p.PcId, new { id = "pcidd" })
                            @Html.HiddenFor(p => p.PolicyData.TrId, new { @id = "tridd" })
                            <h3 class="col-md-9 col-sm-9 col-xs-12">FARM PROPERTY DETAILS</h3>
                            @if (Model.ReferralList != "")
                            {
                                <div class="col-md-3 col-sm-3 col-xs-12">
                                    <div class="pull-right">
                                        <button type="button" href="#referralListModel" role="button" data-target="#referralListModel" data-toggle="modal" class="button-3d nomargin tab-linker" id="referralList" style="width:auto;border:none;background-color:#000000;color:#FFFFFF;margin-top:10px;line-height:22px;">Referral List</button>
                                    </div>
                                </div>
                                <div id="referralListModel" class="modal" data-easein="fadeIn" tabindex="-1" role="dialog" aria-labelledby="referralListModel" aria-hidden="false">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h3 class="pull-left">Referral List</h3>
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                                    <img src="~/images/close-icon.png" />
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <p>@Html.Raw(HttpUtility.HtmlDecode(Model.ReferralList));</p>
                                            </div>
                                            <div class="modal-footer">
                                                <button class="btn btn-default no-border" data-dismiss="modal" aria-hidden="true"> Back </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                            <div class="row">
                                <p class="col-md-12 col-sm-12 col-xs-12 alert alert-info"><strong>Farm Structures and Farm Contents</strong></p>
                            </div>
                            @*<div class="row">
                                    <p class="col-md-8 col-sm-8 col-xs-12">Address</p>
                                    <p class="col-md-4 col-sm-4 col-xs-12 text-right">
                                        @if (Model.AddressData != null && Model.AddressData.Count > 0)
                                                {
                                                <span>@Model.AddressData[0].AddressLine1,&nbsp;@Model.AddressData[0].Suburb,&nbsp;@Model.AddressData[0].State,&nbsp;@Model.AddressData[0].Postcode</span>
                                                }
                                    </p>
                                </div*@
                            <div class="row">
                                <p class="col-md-12 col-sm-12 col-xs-12"><strong> Farm Building Details </strong></p>
                                <p class="col-md-12 col-sm-12 col-xs-12"> What type of Farm Building do you need to cover? </p>
                            </div>
                            <div class="row">
                                <p class="col-md-3 col-sm-3 col-xs-12 text-left"><strong>Description</strong></p>
                                <p class="col-md-2 col-sm-2 col-xs-12 text-left"><strong>Year</strong></p>
                                <p class="col-md-3 col-sm-3 col-xs-12 text-left"><strong>Construction</strong></p>
                                <p class="col-md-2 col-sm-2 col-xs-12 text-left"><strong>Coolroom</strong></p>
                                <p class="col-md-2 col-sm-2 col-xs-12 text-right"><strong>Sum Insured</strong></p>
                            </div>
                            <div class="row">
                                <p class="col-md-3 col-sm-3 col-xs-12 text-left">
                                    @if (Model.SectionData.ValueData != null && (Model.SectionData.ValueData.Count > 0))
                                    {
                                        for (int j = 0; j < Model.SectionData.ValueData.Count; j++)
                                        {
                                            if (Model.SectionData.ValueData[j].Element.ElId == 60467 && Model.SectionData.ValueData[j].Value != "")
                                            {
                                                <span>@Model.SectionData.ValueData[j].Value</span>

                                            }
                                        }
                                    }
                                </p>
                                <p class="col-md-2 col-sm-2 col-xs-12 text-left">
                                    @if (Model.SectionData.ValueData != null && (Model.SectionData.ValueData.Count > 0))
                                    {
                                        for (int j = 0; j < Model.SectionData.ValueData.Count; j++)
                                        {
                                            if (Model.SectionData.ValueData[j].Element.ElId == 60468 && Model.SectionData.ValueData[j].Value != "")
                                            {
                                                <span>@Model.SectionData.ValueData[j].Value</span>
                                            }
                                        }
                                    }
                                </p>
                                <p class="col-md-3 col-sm-3 col-xs-12 text-left">
                                    @if (Model.SectionData.ValueData != null && (Model.SectionData.ValueData.Count > 0))
                                    {
                                        for (int j = 0; j < Model.SectionData.ValueData.Count; j++)
                                        {
                                            if (Model.SectionData.ValueData[j].Element.ElId == 60470 && Model.SectionData.ValueData[j].Value != "")
                                            {
                                                if (Model.SectionData.ValueData[j].Value == "3")
                                                {
                                                    <span>Metal walls on Timber frame</span>
                                                }
                                                else if (Model.SectionData.ValueData[j].Value == "1")
                                                {
                                                    <span>Timber walls on Timber frame</span>
                                                }
                                                else if (Model.SectionData.ValueData[j].Value == "2")
                                                {
                                                    <span>Timber walls on Metal frame</span>
                                                }
                                                else if (Model.SectionData.ValueData[j].Value == "5")
                                                {
                                                    <span>Sandwich panel – EPS</span>
                                                }
                                                else if (Model.SectionData.ValueData[j].Value == "6")
                                                {
                                                    <span>Open sides – metal frame</span>
                                                }
                                                else if (Model.SectionData.ValueData[j].Value == "7")
                                                {
                                                    <span>Open sides – timber frame</span>
                                                }
                                                else if (Model.SectionData.ValueData[j].Value == "4")
                                                {
                                                    <span>Metal walls on Metal frame</span>
                                                }
                                                else if (Model.SectionData.ValueData[j].Value == "8")
                                                {
                                                    <span>Brick</span>
                                                }
                                            }
                                        }
                                    }
                                </p>
                                <p class="col-md-2 col-sm-2 col-xs-12 text-left">
                                    @if (Model.SectionData.ValueData != null && (Model.SectionData.ValueData.Count > 0))
                                    {
                                        for (int j = 0; j < Model.SectionData.ValueData.Count; j++)
                                        {
                                            if (Model.SectionData.ValueData[j].Element.ElId == 60469 && Model.SectionData.ValueData[j].Value != "")
                                            {
                                                if (@Model.SectionData.ValueData[j].Value == "0")
                                                {
                                                    <span>No</span>
                                                }
                                                else
                                                {
                                                    <span>Yes</span>
                                                }
                                            }
                                        }
                                    }
                                </p>
                                <p class="col-md-2 col-sm-2 col-xs-12 text-right">
                                    @{var SumInsuredFB = 0; }
                                    @if (Model.SectionData.ValueData != null && (Model.SectionData.ValueData.Count > 0))
                                    {
                                        for (int j = 0; j < Model.SectionData.ValueData.Count; j++)
                                        {
                                            if (Model.SectionData.ValueData[j].Element.ElId == 60471 && Model.SectionData.ValueData[j].Value != "")
                                            {
                                                <span>$@String.Format("{0:n}", Double.Parse(Model.SectionData.ValueData[j].Value))</span>
                                                SumInsuredFB = SumInsuredFB + Int32.Parse(Model.SectionData.ValueData[j].Value);
                                            }
                                        }
                                    }
                                </p>
                            </div>
                            <div class="row">
                                <p class="col-md-10 col-sm-10 col-xs-10">Do you confirm that all Farm Structures to be insured are structurally sound, well maintained and have no unrepaired damage?</p>
                                <p class="col-md-2 col-sm-2 col-xs-2 text-right">
                                    @if (Model.SectionData.ValueData.Exists(p => p.Element.ElId == 60491) && (Model.SectionData.ValueData.Find(p => p.Element.ElId == 60491).Value != null))
                                    {
                                        if (Model.SectionData.ValueData.Find(p => p.Element.ElId == 60491).Value == "1")
                                        {
                                            <span>Yes</span>
                                        }
                                        else
                                        {
                                            <span>No</span>
                                        }
                                    }
                                </p>
                            </div>
                            <div class="row">
                                <p class="col-md-10 col-sm-10 col-xs-10">Please advise the cost per kilometre to replace your fencing</p>
                                <p class="col-md-2 col-sm-2 col-xs-2 text-right">
                                    @if (Model.SectionData.ValueData.Exists(p => p.Element.ElId == 60495) && (Model.SectionData.ValueData.Find(p => p.Element.ElId == 60495).Value != null))
                                    {
                                        <span>$@String.Format("{0:n}", Double.Parse(Model.SectionData.ValueData.Find(p => p.Element.ElId == 60495).Value))</span>
                                    }
                                </p>
                            </div>
                            <div class="row">
                                <p class="col-md-10 col-sm-10 col-xs-10">What is the total replacement cost of fencing cover you would like?</p>
                                <p class="col-md-2 col-sm-2 col-xs-2 text-right">
                                    @if (Model.SectionData.ValueData.Exists(p => p.Element.ElId == 60499) && (Model.SectionData.ValueData.Find(p => p.Element.ElId == 60499).Value != null))
                                    {
                                        <span>$@String.Format("{0:n}", Double.Parse(Model.SectionData.ValueData.Find(p => p.Element.ElId == 60499).Value))</span>
                                    }
                                </p>
                            </div>
                            <div class="row">
                                <p class="col-md-10 col-sm-10 col-xs-10">Please advise how much you would like the rest of your Farm Structures to be insured</p>
                                <p class="col-md-2 col-sm-2 col-xs-2 text-right">
                                    @if (Model.SectionData.ValueData.Exists(p => p.Element.ElId == 60501) && (Model.SectionData.ValueData.Find(p => p.Element.ElId == 60501).Value != null))
                                    {
                                        <span>$@String.Format("{0:n}", Double.Parse(Model.SectionData.ValueData.Find(p => p.Element.ElId == 60501).Value))</span>
                                    }
                                </p>
                            </div>
                            <div class="row">
                                <p class="col-md-10 col-sm-10 col-xs-10">How much cover do you need to replace your Farm Contents?</p>
                                <p class="col-md-2 col-sm-2 col-xs-2 text-right">
                                    @if (Model.SectionData.ValueData.Exists(p => p.Element.ElId == 60507) && (Model.SectionData.ValueData.Find(p => p.Element.ElId == 60507).Value != null))
                                    {
                                        <span>$@String.Format("{0:n}", Double.Parse(Model.SectionData.ValueData.Find(p => p.Element.ElId == 60507).Value))</span>
                                    }
                                </p>
                            </div>
                            <div class="row">
                                <p class="col-md-10 col-sm-10 col-xs-10">Excess</p>
                                <p class="col-md-2 col-sm-2 col-xs-2 text-right">
                                    @if (Model.SectionData.ValueData.Exists(p => p.Element.ElId == 60509) && (Model.SectionData.ValueData.Find(p => p.Element.ElId == 60509).Value != ""))
                                    {
                                        <span>$@String.Format("{0:n}", Double.Parse(Model.SectionData.ValueData.Find(p => p.Element.ElId == 60509).Value))</span>
                                    }
                                </p>
                            </div>
                            <div class="row">
                                <p class="col-md-12 col-sm-12 col-xs-12 alert alert-info"><strong>Farm Machinery</strong></p>
                            </div>
                            <div class="row">
                                <p class="col-md-10 col-sm-10 col-xs-10"> How much cover do you need for unspecified farm machinery? </p>
                                <p class="col-md-2 col-sm-2 col-xs-2 text-right">
                                    @if (Model.SectionData.ValueData.Exists(p => p.Element.ElId == 60523) && (Model.SectionData.ValueData.Find(p => p.Element.ElId == 60523).Value != ""))
                                    {
                                        <span>$@String.Format("{0:n}", Double.Parse(Model.SectionData.ValueData.Find(p => p.Element.ElId == 60523).Value))</span>
                                    }
                                </p>
                            </div>
                            <div class="row">
                                <p class="col-md-10 col-sm-10 col-xs-10"> Excess for unspecified machinery  </p>
                                <p class="col-md-2 col-sm-2 col-xs-2 text-right">
                                    @if (Model.SectionData.ValueData.Exists(p => p.Element.ElId == 60525) && (Model.SectionData.ValueData.Find(p => p.Element.ElId == 60525).Value != ""))
                                    {
                                        <span>$@String.Format("{0:n}", Double.Parse(Model.SectionData.ValueData.Find(p => p.Element.ElId == 60525).Value))</span>
                                    }
                                </p>
                            </div>
                            <div class="row">
                                <p class="col-md-12 col-sm-12 col-xs-12"> Please list your specified item/s of machinery below (valued over $5000 per item) </p>
                            </div>
                            <div class="row">
                                <p class="col-md-3 col-sm-3 col-xs-12 text-left"><strong>Description</strong></p>
                                <p class="col-md-2 col-sm-2 col-xs-12 text-left"><strong>Year</strong></p>
                                <p class="col-md-3 col-sm-3 col-xs-12 text-left"><strong>Serial Number</strong></p>
                                <p class="col-md-2 col-sm-2 col-xs-12 text-left"><strong>Excess</strong></p>
                                <p class="col-md-2 col-sm-2 col-xs-12 text-right"><strong>Sum Insured</strong></p>
                            </div>
                            <div class="row">
                                <p class="col-md-3 col-sm-3 col-xs-12 text-left">
                                    @if (Model.SectionData.ValueData != null && (Model.SectionData.ValueData.Count > 0))
                                    {
                                        for (int j = 0; j < Model.SectionData.ValueData.Count; j++)
                                        {
                                            if (Model.SectionData.ValueData[j].Element.ElId == 60529 && Model.SectionData.ValueData[j].Value != "")
                                            {
                                                <span>@Model.SectionData.ValueData[j].Value</span>
                                            }
                                        }
                                    }
                                </p>
                                <p class="col-md-2 col-sm-2 col-xs-12 text-left">
                                    @if (Model.SectionData.ValueData != null && (Model.SectionData.ValueData.Count > 0))
                                    {
                                        for (int j = 0; j < Model.SectionData.ValueData.Count; j++)
                                        {
                                            if (Model.SectionData.ValueData[j].Element.ElId == 60531 && Model.SectionData.ValueData[j].Value != "")
                                            {
                                                <span>@Model.SectionData.ValueData[j].Value</span>
                                            }
                                        }
                                    }
                                </p>
                                <p class="col-md-3 col-sm-3 col-xs-12 text-left">
                                    @if (Model.SectionData.ValueData != null && (Model.SectionData.ValueData.Count > 0))
                                    {
                                        for (int j = 0; j < Model.SectionData.ValueData.Count; j++)
                                        {
                                            if (Model.SectionData.ValueData[j].Element.ElId == 60533 && Model.SectionData.ValueData[j].Value != "")
                                            {
                                                <span>@Model.SectionData.ValueData[j].Value</span>
                                            }
                                        }
                                    }
                                </p>
                                <p class="col-md-2 col-sm-2 col-xs-12 text-left">
                                    @if (Model.SectionData.ValueData != null && (Model.SectionData.ValueData.Count > 0))
                                    {
                                        for (int j = 0; j < Model.SectionData.ValueData.Count; j++)
                                        {
                                            if (Model.SectionData.ValueData[j].Element.ElId == 60535 && Model.SectionData.ValueData[j].Value != "")
                                            {
                                                <span>$@Model.SectionData.ValueData[j].Value</span>
                                            }
                                        }
                                    }
                                </p>
                                <p class="col-md-2 col-sm-2 col-xs-12 text-right">
                                    @{var SumInsuredFM = 0; }
                                    @if (Model.SectionData.ValueData != null && (Model.SectionData.ValueData.Count > 0))
                                    {
                                        for (int j = 0; j < Model.SectionData.ValueData.Count; j++)
                                        {
                                            if (Model.SectionData.ValueData[j].Element.ElId == 60537 && Model.SectionData.ValueData[j].Value != "")
                                            {
                                                <span>$@String.Format("{0:n}", Double.Parse(Model.SectionData.ValueData[j].Value))</span>
                                                SumInsuredFM = SumInsuredFM + Int32.Parse(Model.SectionData.ValueData[j].Value);
                                            }
                                        }
                                    }
                                </p>
                            </div>
                            <div class="row">
                                <p class="col-md-10 col-sm-10 col-xs-10"> Total for specified items </p>
                                <p class="col-md-2 col-sm-2 col-xs-2 text-right">
                                    <span>$@String.Format("{0:n}", Double.Parse(SumInsuredFM.ToString()))</span>
                                </p>
                            </div>
                            <div class="row">
                                <p class="col-md-12 col-sm-12 col-xs-12 alert alert-info"><strong>Livestock</strong></p>
                            </div>
                            <div class="row">
                                <p class="col-md-3 col-sm-3 col-xs-12 text-left"><strong>Description</strong></p>
                                <p class="col-md-3 col-sm-3 col-xs-12 text-left"><strong>Number of Animals</strong></p>
                                <p class="col-md-3 col-sm-3 col-xs-12 text-left"><strong>Sum Insured per Animal</strong></p>
                                <p class="col-md-3 col-sm-3 col-xs-12 text-right"><strong>Sum Insured</strong></p>
                            </div>
                            <div class="row">
                                <p class="col-md-3 col-sm-3 col-xs-12 text-left">
                                    @if (Model.SectionData.ValueData != null && (Model.SectionData.ValueData.Count > 0))
                                    {
                                        for (int j = 0; j < Model.SectionData.ValueData.Count; j++)
                                        {
                                            if (Model.SectionData.ValueData[j].Element.ElId == 60565 && Model.SectionData.ValueData[j].Value != "")
                                            {
                                                if (Model.SectionData.ValueData[j].Value != "1")
                                                { <span>Alpacas</span>
                                                }
                                                else if (Model.SectionData.ValueData[j].Value != "2")
                                                { <span>Bulls</span>
                                                }
                                                else if (Model.SectionData.ValueData[j].Value != "3")
                                                { <span>Calves</span>
                                                }
                                                else if (Model.SectionData.ValueData[j].Value != "4")
                                                { <span>Cattle</span>
                                                }
                                                else if (Model.SectionData.ValueData[j].Value != "5")
                                                { <span>Deer</span>
                                                }
                                                else if (Model.SectionData.ValueData[j].Value != "6")
                                                { <span>Ewes</span>
                                                }
                                                else if (Model.SectionData.ValueData[j].Value != "7")
                                                { <span>Goats</span>
                                                }
                                                else if (Model.SectionData.ValueData[j].Value != "8")
                                                { <span>Heifers</span>
                                                }
                                                else if (Model.SectionData.ValueData[j].Value != "9")
                                                { <span>Hogs</span>
                                                }
                                                else if (Model.SectionData.ValueData[j].Value != "10")
                                                { <span>Horses</span>
                                                }
                                                else if (Model.SectionData.ValueData[j].Value != "11")
                                                { <span>Lambs</span>
                                                }
                                                else if (Model.SectionData.ValueData[j].Value != "12")
                                                { <span>Ostriches</span>
                                                }
                                                else if (Model.SectionData.ValueData[j].Value != "13")
                                                { <span>Pigs</span>
                                                }
                                                else if (Model.SectionData.ValueData[j].Value != "14")
                                                { <span>Poultry</span>
                                                }
                                                else if (Model.SectionData.ValueData[j].Value != "15")
                                                { <span>Rams</span>
                                                }
                                                else if (Model.SectionData.ValueData[j].Value != "16")
                                                { <span>Sheep</span>
                                                }
                                                else if (Model.SectionData.ValueData[j].Value != "17")
                                                { <span>Sows</span>
                                                }
                                                else if (Model.SectionData.ValueData[j].Value != "18")
                                                { <span>Steers</span>
                                                }
                                                else if (Model.SectionData.ValueData[j].Value != "19")
                                                { <span>Vealers</span>
                                                }
                                                else if (Model.SectionData.ValueData[j].Value != "20")
                                                { <span>Wethers</span>
                                                }
                                                else
                                                {
                                                    <span></span>
                                                }

                                            }
                                        }
                                    }

                                </p>
                                <p class="col-md-3 col-sm-3 col-xs-12 text-left">
                                    @if (Model.SectionData.ValueData != null && (Model.SectionData.ValueData.Count > 0))
                                    {
                                        for (int j = 0; j < Model.SectionData.ValueData.Count; j++)
                                        {
                                            if (Model.SectionData.ValueData[j].Element.ElId == 60567 && Model.SectionData.ValueData[j].Value != "")
                                            {
                                                <span>@Model.SectionData.ValueData[j].Value</span>
                                            }
                                        }
                                    }
                                </p>
                                <p class="col-md-3 col-sm-3 col-xs-12 text-left">
                                    @if (Model.SectionData.ValueData != null && (Model.SectionData.ValueData.Count > 0))
                                    {
                                        for (int j = 0; j < Model.SectionData.ValueData.Count; j++)
                                        {
                                            if (Model.SectionData.ValueData[j].Element.ElId == 60569 && Model.SectionData.ValueData[j].Value != "")
                                            {
                                                <span>$@String.Format("{0:n}", Double.Parse(Model.SectionData.ValueData[j].Value))</span>
                                            }
                                        }
                                    }
                                </p>
                                <p class="col-md-3 col-sm-3 col-xs-12 text-right">
                                    @{var SumInsuredLS = 0; }
                                    @if (Model.SectionData.ValueData != null && (Model.SectionData.ValueData.Count > 0))
                                    {
                                        for (int j = 0; j < Model.SectionData.ValueData.Count; j++)
                                        {
                                            if (Model.SectionData.ValueData[j].Element.ElId == 60571 && Model.SectionData.ValueData[j].Value != "")
                                            {
                                                <span>$@String.Format("{0:n}", Double.Parse(Model.SectionData.ValueData[j].Value))</span>
                                                SumInsuredLS = SumInsuredLS + Int32.Parse(Model.SectionData.ValueData[j].Value);
                                            }
                                        }
                                    }
                                </p>
                            </div>
                            <div class="row">
                                <p class="col-md-10 col-sm-10 col-xs-10"> Total for livestock </p>
                                <p class="col-md-2 col-sm-2 col-xs-2 text-right">$@String.Format("{0:n}", Double.Parse(SumInsuredLS.ToString()))</p>
                            </div>
                            <div class="row">
                                <p class="col-md-10 col-sm-10 col-xs-10"> Do you wish to insure your livestock against dog attack? </p>
                                <p class="col-md-2 col-sm-2 col-xs-2 text-right">
                                    @if (Model.SectionData.ValueData.Exists(p => p.Element.ElId == 60575) && (Model.SectionData.ValueData.Find(p => p.Element.ElId == 60575).Value != null))
                                    {
                                        if (Model.SectionData.ValueData.Find(p => p.Element.ElId == 60575).Value == "1")
                                        {
                                            <span>Yes</span>
                                        }
                                        else
                                        {
                                            <span>No</span>
                                        }
                                    }
                                </p>
                            </div>
                            <div class="row">
                                <p class="col-md-10 col-sm-10 col-xs-10">Excess</p>
                                <p class="col-md-2 col-sm-2 col-xs-2 text-right">
                                    @if (Model.SectionData.ValueData.Exists(p => p.Element.ElId == 60577) && (Model.SectionData.ValueData.Find(p => p.Element.ElId == 60577).Value != ""))
                                    {
                                        <span>$@String.Format("{0:n}", Double.Parse(Model.SectionData.ValueData.Find(p => p.Element.ElId == 60577).Value))</span>
                                    }
                                </p>
                            </div>
                            <div class="row">
                                <p class="col-md-12 col-sm-12 col-xs-12 alert alert-info"><strong>Harvested Crops and Beehives</strong></p>
                                <p class="col-md-12 col-sm-12 col-xs-12"><strong> Harvested Crops </strong></p>
                            </div>
                            <div class="row">
                                <p class="col-md-8 col-sm-8 col-xs-12">How much cover do you need for this? </p>
                                <p class="col-md-4 col-sm-4 col-xs-12 text-right">
                                    @if (Model.SectionData.ValueData.Exists(p => p.Element.ElId == 60593) && (Model.SectionData.ValueData.Find(p => p.Element.ElId == 60593).Value != ""))
                                    {
                                        <span>$@String.Format("{0:n}", Double.Parse(Model.SectionData.ValueData.Find(p => p.Element.ElId == 60593).Value))</span>
                                    }
                                </p>
                            </div>
                            <div class="row">
                                <p class="col-md-8 col-sm-8 col-xs-12">Excess </p>
                                <p class="col-md-4 col-sm-4 col-xs-12 text-right">
                                    @if (Model.SectionData.ValueData.Exists(p => p.Element.ElId == 60595) && (Model.SectionData.ValueData.Find(p => p.Element.ElId == 60595).Value != ""))
                                    {
                                        <span>$@String.Format("{0:n}", Double.Parse(Model.SectionData.ValueData.Find(p => p.Element.ElId == 60595).Value))</span>
                                    }
                                </p>
                            </div>
                            <div class="row">
                                <p class="col-md-12 col-sm-12 col-xs-12"><strong> Beehives </strong></p>
                            </div>
                            <div class="row">
                                <p class="col-md-10 col-sm-10 col-xs-10">How much cover do you need for your beehives?</p>
                                <p class="col-md-2 col-sm-2 col-xs-2 text-right">
                                    @if (Model.SectionData.ValueData.Exists(p => p.Element.ElId == 60601) && (Model.SectionData.ValueData.Find(p => p.Element.ElId == 60601).Value != ""))
                                    {
                                        <span>$@String.Format("{0:n}", Double.Parse(Model.SectionData.ValueData.Find(p => p.Element.ElId == 60601).Value))</span>
                                    }
                                </p>
                            </div>
                            <div class="row">
                                <p class="col-md-10 col-sm-10 col-xs-10">How many hives do you have?</p>
                                <p class="col-md-2 col-sm-2 col-xs-2 text-right">
                                    @if (Model.SectionData.ValueData.Exists(p => p.Element.ElId == 60603) && (Model.SectionData.ValueData.Find(p => p.Element.ElId == 60603).Value != ""))
                                    {
                                        <span>@Model.SectionData.ValueData.Find(p => p.Element.ElId == 60603).Value</span>
                                    }
                                </p>
                            </div>
                            @*<div class="row">
                                    <p class="col-md-10 col-sm-10 col-xs-10">Would you like to insure your beehives?</p>
                                    <p class="col-md-2 col-sm-2 col-xs-2 text-right">
                                        @if (Model.SectionData.ValueData.Exists(p => p.Element.ElId == 60187) && (Model.SectionData.ValueData.Find(p => p.Element.ElId == 60187).Value != ""))
                                        {
                                            <span>$@Model.SectionData.ValueData.Find(p => p.Element.ElId == 60187).Value</span>
                                        }
                                    </p>
                                </div>*@
                            <div class="row">
                                <p class="col-md-10 col-sm-10 col-xs-10">Excess</p>
                                <p class="col-md-2 col-sm-2 col-xs-2 text-right">
                                    @if (Model.SectionData.ValueData.Exists(p => p.Element.ElId == 60605) && (Model.SectionData.ValueData.Find(p => p.Element.ElId == 60595).Value != ""))
                                    {
                                        <span>$@String.Format("{0:n}", Double.Parse(Model.SectionData.ValueData.Find(p => p.Element.ElId == 60595).Value))</span>
                                    }
                                </p>
                            </div>
                            <div class="row">
                                <button type="submit" class="btn-primary btn pull-right" style="margin-top:5% !important;">NEXT</button>
                            </div>
                        </div>
                                            }
                                        }
                                        else
                                        {
                                            using (Ajax.BeginForm("ActionName", "PolicyDetails", new { cid = @ViewBag.cid, PcId = @Model.PolicyData.PcId }, new AjaxOptions()
                                            {
                                                HttpMethod = "GET"

                                            }))
                                            {
                                                <div class="well">
                                                    @Html.HiddenFor(p => p.CustomerId)
                                                    <h3>FARM PROPERTY DETAILS</h3>
                                                    <div class="row">
                                                        <p class="col-md-12 col-sm-12 col-xs-12 alert alert-info"><strong>No details</strong></p>
                                                    </div>
                                                    <div class="row">
                                                        <button type="submit" class="btn-primary btn pull-right" style="margin-top:5% !important;">NEXT</button>
                                                    </div>
                                                </div>
                                            }
                                        }
            </div>
            @if (Model.PolicyData.PolicyStatus == "NP" || Model.PolicyData.PolicyStatus == "RP" || Model.PolicyData.PolicyStatus == "AP")
            {
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 policy-side-wrap">
                    <button type="button" href="#endorsepolicys" role="button" data-target="#endorsepolicys" class="btn-primary btn col-md-12" data-toggle="modal">Endorse Policy</button>
                </div>
            }
            else
            {
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 policy-side-wrap">
                    <div class="well">
                        <h3>Policy Sections</h3>
                        @if (Model.PolicyData.PolicyStatus == "CQ" || Model.PolicyData.PolicyStatus == "CP")
                        {
                            if (Model.PolicyInclusion != null && Model.PolicyInclusion.Count() > 0)
                            {
                                for (int i = 0; i < Model.PolicyInclusion.Count(); i++)
                                {
                                    <div class="policy-loc-row">
                                        @Html.RadioButtonFor(m => m.SelectedInclusion, @Model.PolicyInclusion[i].Name, new { @class = "inclusions", @data_name = @Model.PolicyInclusion[i].Name, @data_nid = @i })<label for="radio1"><span><span></span></span><a class="viewsectn" data-policystatus="@Model.PolicyData.PolicyStatus" data-name="@Model.PolicyInclusion[i].Name" data-cid="@Model.CustomerId" data-trid="@Model.PolicyData.TrId" data-pcid="@Model.PcId" data-unid="@Model.PolicyInclusion[i].UnId" data-profileid="@Model.PolicyInclusion[i].ProfileUnId" data-unitid="@Model.PolicyInclusion[i].UnitId" href="javascript:void(0);">@Model.PolicyInclusion[i].Name</a></label>
                                    </div>
                                }
                            }
                        }
                        else
                        {
                            if (Model.PolicyInclusion != null && Model.PolicyInclusion.Count() > 0)
                            {
                                for (int i = 0; i < Model.PolicyInclusion.Count(); i++)
                                {
                                    <div class="policy-loc-row" id="rightPannel-@i">
                                        @Html.RadioButtonFor(m => m.SelectedInclusion, @Model.PolicyInclusion[i].Name, new { @class = "inclusions", @data_name = @Model.PolicyInclusion[i].Name, @data_nid = @i })<label for="radio1"><span><span></span></span><a class="viewsectn" data-policystatus="@Model.PolicyData.PolicyStatus" data-name="@Model.PolicyInclusion[i].Name" data-cid="@Model.CustomerId" data-trid="@Model.PolicyData.TrId" data-pcid="@Model.PcId" data-unid="@Model.PolicyInclusion[i].UnId" data-profileid="@Model.PolicyInclusion[i].ProfileUnId" data-unitid="@Model.PolicyInclusion[i].UnitId" href="javascript:void(0);">@Model.PolicyInclusion[i].Name</a></label>
                                        <script type="text/javascript">
                                            $(document).ready(function () {
                                                $('.inclusions').click(function () {
                                                    var name = $(this).attr('data-name');
                                                    var nid = $(this).attr('data-nid');
                                                    $('.policy-ed-del-wrapper').hide();
                                                    $("#policy-ed-del-wrap-" + nid).show();
                                                });
                                            });
                                        </script>
                                        <div id="policy-ed-del-wrap-@i" class="policy-ed-del-wrapper" data style="display: none;">
                                            <a id="RPEdit-@i" class="btn color-bk-btn policy-edit-wrap" data-policystatus="@Model.PolicyData.PolicyStatus" data-name="@Model.PolicyInclusion[i].Name" data-cid="@Model.CustomerId" data-trid="@Model.PolicyData.TrId" data-pcid="@Model.PcId" data-unid="@Model.PolicyInclusion[i].UnId" data-profileid="@Model.PolicyInclusion[i].ProfileUnId" href="javascript:void(0);">Edit</a>&nbsp;
                                            <a id="RPDelete-@i" class="btn color-bk-btn policy-delet-wrap" data-policystatus="@Model.PolicyStatus" data-name="@Model.PolicyInclusion[i].Name" data-cid="@Model.CustomerId" data-trid="@Model.PolicyData.TrId" data-pcid="@Model.PcId" data-unid="@Model.PolicyInclusion[i].UnId" data-profileid="@Model.PolicyInclusion[i].ProfileUnId" data-unitid="@Model.PolicyInclusion[i].UnitId" href="javascript:void(0);">Delete</a>
                                        </div>
                                    </div>
                                }
                            }
                        }
                        <div class="clearfix"></div>
                        <div class="dropdown pc pc-in">
                            <a class="new-cover-policy" href="javascript:void(0);">New Section</a>
                            <ul class="dropdown-menu col-md-12 unit">
                                <li><a href="javascript:void(0);" class="Home Buildings">+  Home Buildings</a></li>
                                <li><a href="javascript:void(0);" class="Home Contents">+  Home Contents</a></li>
                                <li><a href="javascript:void(0);" class="Farm Property">+  Farm Property</a></li>
                                <li><a href="javascript:void(0);" class="Valuables">+  Valuables</a></li>
                                <li><a href="javascript:void(0);" class="Motor">+  Motor</a></li>
                                <li><a href="javascript:void(0);" class="Pet">+  Pet</a></li>

                                <li><a href="javascript:void(0);" class="Travel">+  Travel</a></li>
                                <li><a href="javascript:void(0);" class="Boat">+  Boat</a></li>
                            </ul>
                            <script type="text/javascript">
                                $(document).on('click', 'ul.unit > li', function () {
                                    var unitname = $(this).children("a").attr("class");
                                    var cid = $("#ciid").val();
                                    var pcid = $("#pcidd").val();
                                    var prid = 1029;
                                    $.ajax({
                                        type: "POST",
                                        url: "/Customer/AddUnit",
                                        data: { "unit": unitname, cid: cid, PcId: pcid, Prid: prid },
                                        success: function (responce) {
                                            if (responce.Status == false) {
                                                $(".error").css("color", "red").html("Failed to add section, there is a problem in core system.").show().delay(100000).fadeOut();
                                                $("html, body").animate({ scrollTop: 0 }, "slow");
                                            } else {
                                                window.location.href = responce;
                                            }
                                        }
                                    });
                                });
                            </script>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</div>
<script src="~/js/jquery.inputmask.bundle.js"></script>
<script src="~/js/inputmask.date.extensions.js"></script>
<script type="text/javascript">
                                $(document).ready(function () {
                                    $(".datePicker").inputmask("99/99/9999", { "placeholder": "dd/mm/yyyy" });
                                });
</script>
<script>
                                $(".viewsectn").click(function () {
                                    var selectedname = $(this).data('name');
                                    var selectedunid = $(this).data('unid');
                                    var selectedprofileid = $(this).data('profileid');
                                    var selectedcid = $(this).data('cid');
                                    var selectedTrId = $(this).data('trid');
                                    var unitid = $(this).data('unitid');
                                    var PcId = $(this).data('pcid');
                                    var policyStatus = $(this).data('policystatus');
                                    // var prId = $(this).data('prId');
                                    var prId = 1029;
                                    $.ajax({
                                        type: "POST",
                                        url: "/Customer/ViewSection",
                                        data: {
                                            "name": selectedname, "PcId": PcId, "cid": selectedcid, "trId": selectedTrId, "unid": selectedunid, "Profileid": selectedprofileid, "policyStatus": policyStatus, "prId": prId, "unitid": unitid
                                        },
                                        success: function (responce) {
                                            if (responce.Status == false) {
                                                $(".error").css("color", "red").html("Failed to view section, there is a problem in core system.").show().delay(100000).fadeOut();
                                                $("html, body").animate({ scrollTop: 0 }, "slow");
                                            } else {
                                                window.location.href = responce;
                                            }
                                        }
                                    });
                                });
                                $(".policy-edit-wrap").click(function () {
                                    var selectedname = $(this).data('name');
                                    var selectedunid = $(this).data('unid');
                                    var selectedprofileid = $(this).data('profileid');
                                    var selectedcid = $(this).data('cid');
                                    var selectedTrId = $(this).data('trid');
                                    var PcId = $(this).data('pcid');
                                    var policyStatus = $(this).data('policystatus');
                                    // var prId = $(this).data('prId');
                                    var prId = 1029;
                                    $.ajax({
                                        type: "POST",
                                        url: "/Customer/EndorsePolicy",
                                        data: {
                                            "name": selectedname, "PcId": PcId, "cid": selectedcid, "trId": selectedTrId, "unid": selectedunid, "Profileid": selectedprofileid, "prId": prId, "policyStatus": policyStatus, "calltype": null, "effcdate": null
                                        },
                                        success: function (responce) {
                                            if (responce.Status == false) {
                                                $(".error").css("color", "red").html("Failed to edit section, there is a problem in core system.").show().delay(100000).fadeOut();
                                                $("html, body").animate({ scrollTop: 0 }, "slow");
                                            } else {
                                                window.location.href = responce;
                                            }
                                        }
                                    });
                                });
                                $(".policy-delet-wrap").click(function () {
                                    var r = confirm("Are you sure you want to delete this section?");
                                    if (r == true) {
                                        var PcId = $("#pcidd").val();
                                        var selectedunid = $(this).data('unid');
                                        var selectedcid = $(this).data('cid');
                                        var PcId = $(this).data('pcid');
                                        var selectedname = $(this).data('name');
                                        var selectedprofileid = $(this).data('profileid');
                                        var selectedTrId = $(this).data('trid');
                                        var policyStatus = $(this).data('policystatus');
                                        var selectedunitid = $(this).data('unitid');
                                        var currId = $(this).attr("id");
                                        $.ajax({
                                            type: "POST",
                                            url: "/Customer/DeleteUnit",
                                            data: {
                                                "unid": selectedunid, "cid": selectedcid, "pcid": PcId, "unit": selectedname, "profileid": selectedprofileid, "trid": selectedTrId, "policystatus": policyStatus, "unitid": selectedunitid
                                            },
                                            success: function (responce) {
                                                if (responce.Status == true) {
                                                    var prentId = $('#' + currId).parent().parent().attr("id");
                                                    $('#' + prentId).remove();
                                                    $(".deletedsuccess").html('Section Deleted Succussfully.').addClass("alert alert-success").delay().fadeOut(10000);
                                                }
                                            }
                                        });
                                    }
                                });
                                $("#bindcover").click(function () {
                                    $.ajax({
                                        type: "POST",
                                        url: "/Customer/BindCover",
                                        data: {},
                                        success: function (responce) {
                                        }
                                    });
                                });
</script>
<script>
                                $("#cancelpo").click(function () {
                                    var PcId = $("#pcidd").val();
                                    var selectedcid = $("#ciid").val();
                                    var selectedTrId = $("#tridd").val();
                                    var reson = $(".cancelpol").val();
                                    $.ajax({
                                        type: "POST",
                                        url: "/Customer/CancelPolicy",
                                        data: {
                                            "PcId": PcId, "cid": selectedcid, "trId": selectedTrId, "Reson": reson
                                        },
                                        success: function (responce) {
                                        }
                                    });

                                });

</script>

<script>
                                $(".vwdoc").mouseover(function () {
                                    $(".dropdown ul").html('');
                                    $.ajax({
                                        type: "POST",
                                        url: "/Customer/ViewDocument",
                                        data: {
                                        }, success: function (data) {
                                            if (!$.isEmptyObject(data.dt) && data.dt.length > 0) {
                                                var valuedata = data.dt;
                                                if (valuedata != '' && valuedata != null) {
                                                    $.each(valuedata, function (index, value) {
                                                        $(".dropdown ul").append('<li><span class="printer" data-printid=' + value.PrintId + '>' + value.Name + '</span></li>');
                                                        ////$(".repalcedoc").html(replaceText);
                                                    });
                                                }
                                            }
                                        }
                                    });
                                });
                                $(document).on('click', '.printer', function () {
                                    var printid = $(this).attr('data-printid');
                                    //var printid = data.printid;
                                    if (printid != '') {
                                        $.ajax({
                                            type: "GET",
                                            url: "/Customer/PrintDocument",
                                            data: {
                                                "PrintId": printid
                                            }, success: function (data) {
                                                if (data != '' && data.status == true) {
                                                    var win = window.open(data.result, '_blank');
                                                }
                                                else if (data != '' && data.status == false) {
                                                    $(".error").html("This document is not available.").delay(10000).fadeOut();
                                                }
                                                //win.focus();
                                                //window.open("data:text/html," + encodeURIComponent(data.result),
                                                //    "_blank", "width=200,height=100");                  
                                            }
                                        });
                                    }
                                });
                                $("#endorsecover").click(function () {
                                    var selectedname = $(this).data('name');
                                    var selectedunid = $(this).data('unid');
                                    var selectedprofileid = $(this).data('profileid');
                                    var selectedTrId = $(this).data('trid');
                                    var selectedcid = $("#ciid").val();
                                    var PcId = $("#pcidd").val();
                                    var policyStatus = $(".policystus").val();
                                    var effcdate = $("#effectivedate").val();
                                    var prId = 1029;
                                    $.ajax({
                                        type: "POST",
                                        url: "/Customer/EndorsePolicy",
                                        data: {
                                            "name": selectedname, "PcId": PcId, "cid": selectedcid, "trId": selectedTrId, "unid": selectedunid, "Profileid": selectedprofileid, "prId": prId, "policyStatus": policyStatus, "calltype": null, "effcdate": effcdate
                                        },
                                        success: function (responce) {
                                            if (responce.Status == false) {
                                                $(".error").css("color", "red").html("Failed to edit section, there is a problem in core system.").show().delay(100000).fadeOut();
                                                $("html, body").animate({ scrollTop: 0 }, "slow");
                                            } else {
                                                window.location.href = responce;
                                            }
                                        }
                                    });
                                });


</script>