@model InsureThatAPI.Models.ViewEditPolicyDetails
@{
    ViewBag.Title = "Farm Property";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (Model.PolicyData != null)
{
    <div class="row content">
        <div class="col-lg-6 col-md-6 col-sm-4 col-xs-12 policy-full-head">
            <h2>
                POLICY DETAILS<span>
                    @if (Model.PolicyData.InsuredName != null)
                    {
                        <span>@Model.PolicyData.InsuredName/</span>
                    }
                    @if (Model.PolicyData.PolicyNumber != null)
                    {
                        @Model.PolicyData.PolicyNumber
                    }
                    @if (Model.PolicyData.PolicyStatus != null)
                    {
                        if (Model.PolicyData.PolicyStatus == "AP")
                        { <span>/ Endorsed Policy</span> }
                        else if (Model.PolicyData.PolicyStatus == "AQ")
                        { <span>/ Endorsement Quotation</span> }
                        else if (Model.PolicyData.PolicyStatus == "CP")
                        { <span>/ Cancelled Policy</span> }
                        else if (Model.PolicyData.PolicyStatus == "CQ")
                        { <span>/ Cancellation Quotation</span> }
                        else if (Model.PolicyData.PolicyStatus == "DQ")
                        { <span>/ Discarded Quotation</span> }
                        else if (Model.PolicyData.PolicyStatus == "NP")
                        { <span>/ New Policy</span> }
                        else if (Model.PolicyData.PolicyStatus == "NQ")
                        { <span>/ Quotation</span> }
                        else if (Model.PolicyData.PolicyStatus == "RP")
                        { <span>/ Renewed Policy</span> }
                        else if (Model.PolicyData.PolicyStatus == "RQ")
                        { <span>/ Renewal Invitation</span> }
                        else if (Model.PolicyData.PolicyStatus == "XP")
                        { <span>/ Cancelled Policy</span> }
                        else if (Model.PolicyData.PolicyStatus == "XQ")
                        { <span>/ Cancellation Quotation</span> }
                    }
                </span>

            </h2>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <a class="btn color-bk-btn col-md-4 margin-right-10 leftmargin-sm pull-right" href="@Url.Action("PolicyHistory", "RuralLifeStyle", new { PcId = Model.PolicyData.PolicyNumber })">View Policy History</a>
            <a class="btn color-bk-btn col-md-3 margin-left-5 leftmargin-sm pull-right" href="@Url.Action("InsuredList", "Customer", new { PolicyNumber = Model.PolicyData.PolicyNumber })">View Insured</a>
            <a class="btn color-bk-btn col-sm-3 margin-left-5 pull-right" href="@Url.Action("NewPolicy", "Customer", new { CustomerId = 1 })">Add Policy</a>
        </div>

        <div class="mt-50 mb-50"></div>
        <div class="p-10 col-md-12 border-bottom-1 mb-15">
            <div class="col-lg-1 col-md-1 col-sm-2 col-xs-12">
                <img src="~/images/farm-icon.png" class="policy-list-img">
            </div>
            <div class="col-lg-11 col-md-11 col-sm-10 col-xs-12">
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 p-10">
                                Policy Type: @if (Model.PolicyData.PrId == 1029 || Model.PolicyData.PrId == 1009)
                                {
                                    <lable>Rural Lifestyle</lable>
                                }
                                else
                                { <label>Farm</label>
                                }
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 p-10">
                                Policy No: @Model.PolicyData.PolicyNumber
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 p-10">Insured:@Model.PolicyData.InsuredName</div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 p-10">Start Date: @Model.PolicyData.InceptionDate.ToString("dd/MM/yy")</div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 p-10">End Date: @Model.PolicyData.ExpiryDate.ToString("dd/MM/yy")</div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 p-10">Duration: 12 Months</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <a href="#" class="btn-primary btn col-md-12 mb-5">View Documents</a><br />
                    <a href="#" class="btn-primary btn col-md-12">Cancel Policy</a>
                </div>
            </div>
        </div>
    </div>
    <div id="screens">
        @using (Ajax.BeginForm("Travels", "PolicyDetails", new { cid = @ViewBag.cid, PcId = @Model.PolicyData.PcId, step = 2 }, new AjaxOptions()
        {
            HttpMethod = "GET"

        }))
        {
            @Html.AntiForgeryToken()
            <div class="row content policy-full-view">
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                    <div class="well">
                        @Html.HiddenFor(p => p.CustomerId)
                        <h3>FARM PROPERTY DETAILS</h3>
                        <div class="row">
                            <p class="col-md-12 col-sm-12 col-xs-12 alert alert-info"><strong>Farm Structures and Farm Contents</strong></p>
                        </div>
                        <div class="row">
                            <p class="col-md-8 col-sm-8 col-xs-12">Address</p>
                            <p class="col-md-4 col-sm-4 col-xs-12 text-right">
                                @if (Model.AddressData != null && Model.AddressData.Count > 0)
                                {
                                    <span>@Model.AddressData[0].AddressLine1,&nbsp;@Model.AddressData[0].Suburb,&nbsp;@Model.AddressData[0].State,&nbsp;@Model.AddressData[0].Postcode</span>
                                }
                            </p>
                        </div>
                        <div class="row">
                            <p class="col-md-12 col-sm-12 col-xs-12"><strong> Farm Building Details </strong></p>
                            <p class="col-md-12 col-sm-12 col-xs-12"> What type of Farm Building do you need to cover? </p>
                        </div>
                        <div class="row">
                            <p class="col-md-3 col-sm-3 col-xs-12 text-left"> Description </p>
                            <p class="col-md-2 col-sm-2 col-xs-12 text-left"> Year </p>
                            <p class="col-md-3 col-sm-3 col-xs-12 text-left"> Construction </p>
                            <p class="col-md-2 col-sm-2 col-xs-12 text-left"> Coolroom </p>
                            <p class="col-md-2 col-sm-2 col-xs-12 text-right"> Sum Insured </p>
                        </div>
                        <div class="row">
                            <p class="col-md-3 col-sm-3 col-xs-12 text-left">
                                @if (Model.SectionData.ValueData != null && (Model.SectionData.ValueData.Count > 0))
                                {
                                    for (int j = 0; j < Model.SectionData.ValueData.Count; j++)
                                    {
                                        if (Model.SectionData.ValueData[j].Element.ElId == 60467 && Model.SectionData.ValueData[j].Value != "")
                                        {
                                            if (Model.SectionData.ValueData[j].Value == "2")
                                            {
                                                <span>Dairy</span><br /><br />
                                            }
                                            else if (Model.SectionData.ValueData[j].Value == "3")
                                            {
                                                <span>Garage</span><br /><br />
                                            }
                                            else if (Model.SectionData.ValueData[j].Value == "4")
                                            {
                                                <span>General purpose shed</span><br /><br />
                                            }
                                            else if (Model.SectionData.ValueData[j].Value == "5")
                                            {
                                                <span>Hay shed</span><br /><br />
                                            }
                                            else if (Model.SectionData.ValueData[j].Value == "6")
                                            {
                                                <span>Horse shelters</span><br /><br />
                                            }
                                            else if (Model.SectionData.ValueData[j].Value == "7")
                                            {
                                                <span>Machinery shed</span><br /><br />
                                            }
                                            else if (Model.SectionData.ValueData[j].Value == "1")
                                            {
                                                <span>Pump shed</span><br /><br />
                                            }
                                            else if (Model.SectionData.ValueData[j].Value == "8")
                                            {
                                                <span>Shearing shed</span><br /><br />
                                            }
                                            else if (Model.SectionData.ValueData[j].Value == "9")
                                            {
                                                <span>Stables</span><br /><br />
                                            }
                                            else if (Model.SectionData.ValueData[j].Value == "10")
                                            {
                                                <span>Tack Room</span >< br />< br />
                                            }
                                            else if (Model.SectionData.ValueData[j].Value == "11")
                                            {
                                                <span>Workshop</span><br /><br />
                                            }
                                            else if (Model.SectionData.ValueData[j].Value == "12")
                                            {
                                                <span>Other</span><br /><br />
                                            }
                                        }
                                    }
                                }
                            </p>
                            <p class="col-md-2 col-sm-2 col-xs-12 text-left">
                                @if (Model.SectionData.ValueData != null && (Model.SectionData.ValueData.Count > 0))
                                {
                                    for (int j = 0; j < Model.SectionData.ValueData.Count; j++)
                                    {
                                        if (Model.SectionData.ValueData[j].Element.ElId == 60468 && Model.SectionData.ValueData[j].Value != "")
                                        {
                                            <span>@Model.SectionData.ValueData[j].Value</span><br /><br />
                                        }
                                    }
                                }
                            </p>
                            <p class="col-md-3 col-sm-3 col-xs-12 text-left">
                                @if (Model.SectionData.ValueData != null && (Model.SectionData.ValueData.Count > 0))
                                {
                                    for (int j = 0; j < Model.SectionData.ValueData.Count; j++)
                                    {
                                        if (Model.SectionData.ValueData[j].Element.ElId == 60470 && Model.SectionData.ValueData[j].Value != "")
                                        {
                                            if (Model.SectionData.ValueData[j].Value == "2")
                                            {
                                                <span>Metal walls on Timber frrame</span><br /><br />
                                            }
                                            else if (Model.SectionData.ValueData[j].Value == "3")
                                            {
                                                <span>Timber walls on Timber frame</span><br /><br />
                                            }
                                            else if (Model.SectionData.ValueData[j].Value == "4")
                                            {
                                                <span>Timber walls on Iron frame</span><br /><br />
                                            }
                                            else if (Model.SectionData.ValueData[j].Value == "5")
                                            {
                                                <span>Sandwich panel – EPS</span><br /><br />
                                            }
                                            else if (Model.SectionData.ValueData[j].Value == "6")
                                            {
                                                <span>Open sides – metal frame</span><br /><br />
                                            }
                                            else if (Model.SectionData.ValueData[j].Value == "7")
                                            {
                                                <span>Open sides – timber frame</span><br /><br />
                                            }
                                            else if (Model.SectionData.ValueData[j].Value == "1")
                                            {
                                                <span>Metal walls on Metal frame</span><br /><br />
                                            }
                                            else if (Model.SectionData.ValueData[j].Value == "8")
                                            {
                                                <span>Brick</span><br /><br />
                                            }
                                        }
                                    }
                                }
                            </p>
                            <p class="col-md-2 col-sm-2 col-xs-12 text-left">
                                @if (Model.SectionData.ValueData != null && (Model.SectionData.ValueData.Count > 0))
                                {
                                    for (int j = 0; j < Model.SectionData.ValueData.Count; j++)
                                    {
                                        if (Model.SectionData.ValueData[j].Element.ElId == 60469 && Model.SectionData.ValueData[j].Value != "")
                                        {
                                            <span>@Model.SectionData.ValueData[j].Value</span><br /><br />
                                        }
                                    }
                                }
                            </p>
                            <p class="col-md-2 col-sm-2 col-xs-12 text-left">
                                @if (Model.SectionData.ValueData != null && (Model.SectionData.ValueData.Count > 0))
                                {
                                    for (int j = 0; j < Model.SectionData.ValueData.Count; j++)
                                    {
                                        if (Model.SectionData.ValueData[j].Element.ElId == 60471 && Model.SectionData.ValueData[j].Value != "")
                                        {
                                            <span>@Model.SectionData.ValueData[j].Value</span><br /><br />
                                        }
                                    }
                                }
                            </p>
                        </div>
                        <div class="row">
                            <p class="col-md-10 col-sm-10 col-xs-10">Do you confirm that all Farm Structures to be insured are structurally sound, well maintained and have no unrepaired damage?</p>
                            <p class="col-md-2 col-sm-2 col-xs-2 text-right">
                               @if (Model.SectionData.ValueData.Exists(p => p.Element.ElId == 60491) && (Model.SectionData.ValueData.Find(p => p.Element.ElId == 60491).Value != null))
                               {
                                   if (Model.SectionData.ValueData.Find(p => p.Element.ElId == 60491).Value == "1")
                                   {
                                    <span>Yes</span>
                                   }
                                   else
                                   {
                                    <span>No</span>
                                   }
                               }
                            </p>
                        </div>
                        <div class="row">
                            <p class="col-md-10 col-sm-10 col-xs-10">Please advise the cost per kilometre to replace your fencing</p>
                            <p class="col-md-2 col-sm-2 col-xs-2 text-right">
                               @if (Model.SectionData.ValueData.Exists(p => p.Element.ElId == 60495) && (Model.SectionData.ValueData.Find(p => p.Element.ElId == 60495).Value != null))
                               {
                                <span>@Model.SectionData.ValueData.Find(p => p.Element.ElId == 60495).Value</span>
                               }
                            </p>
                        </div>
                        <div class="row">
                            <p class="col-md-10 col-sm-10 col-xs-10">What is the total replacement cost of fencing cover you would like?</p>
                            <p class="col-md-2 col-sm-2 col-xs-2 text-right">
                               @if (Model.SectionData.ValueData.Exists(p => p.Element.ElId == 60499) && (Model.SectionData.ValueData.Find(p => p.Element.ElId == 60499).Value != null))
                               {
                                <span>@Model.SectionData.ValueData.Find(p => p.Element.ElId == 60499).Value</span>
                               }
                            </p>
                        </div>
                        <div class="row">
                            <p class="col-md-10 col-sm-10 col-xs-10">Please advise how much you would like the rest of your Farm Structures to be insured</p>
                            <p class="col-md-2 col-sm-2 col-xs-2 text-right">
                                @if (Model.SectionData.ValueData.Exists(p => p.Element.ElId == 60501) && (Model.SectionData.ValueData.Find(p => p.Element.ElId == 60501).Value != null))
                                {
                                    <span>@Model.SectionData.ValueData.Find(p => p.Element.ElId == 60501).Value</span>
                                }
                            </p>
                        </div>
                        <div class="row">
                            <p class="col-md-10 col-sm-10 col-xs-10">How much cover do you need to replace your Farm Contents</p>
                            <p class="col-md-2 col-sm-2 col-xs-2 text-right">
                                @if (Model.SectionData.ValueData.Exists(p => p.Element.ElId == 60507) && (Model.SectionData.ValueData.Find(p => p.Element.ElId == 60507).Value != null))
                                {
                                    <span>@Model.SectionData.ValueData.Find(p => p.Element.ElId == 60507).Value</span>
                                }
                            </p>
                        </div>
                        <div class="row">
                            <p class="col-md-10 col-sm-10 col-xs-10">Please select the excess you wish to pay</p>
                            <p class="col-md-2 col-sm-2 col-xs-2 text-right">
                                @if (Model.SectionData.ValueData.Exists(p => p.Element.ElId == 60509) && (Model.SectionData.ValueData.Find(p => p.Element.ElId == 60509).Value != ""))
                                {
                                    <span>$@Model.SectionData.ValueData.Find(p => p.Element.ElId == 60509).Value</span>
                                }
                            </p>
                        </div>
                        <div class="row">
                            <p class="col-md-12 col-sm-12 col-xs-12 alert alert-info"><strong>Farm Machinery</strong></p>
                        </div>
                        <div class="row">
                            <p class="col-md-10 col-sm-10 col-xs-10"> How much cover do you need for unspecified farm machinery? </p>
                            <p class="col-md-2 col-sm-2 col-xs-2 text-right">
                               @if (Model.SectionData.ValueData.Exists(p => p.Element.ElId == 60523) && (Model.SectionData.ValueData.Find(p => p.Element.ElId == 60523).Value != ""))
                               {
                                <span>$@Model.SectionData.ValueData.Find(p => p.Element.ElId == 60523).Value</span>
                               }
                            </p>
                        </div>
                        <div class="row">
                            <p class="col-md-10 col-sm-10 col-xs-10"> Excess for unspecified machinery  </p>
                            <p class="col-md-2 col-sm-2 col-xs-2 text-right">
                                @if (Model.SectionData.ValueData.Exists(p => p.Element.ElId == 60525) && (Model.SectionData.ValueData.Find(p => p.Element.ElId == 60525).Value != ""))
                                {
                                    <span>$@Model.SectionData.ValueData.Find(p => p.Element.ElId == 60525).Value</span>
                                }
                            </p>
                        </div>
                        <div class="row">
                            <p class="col-md-12 col-sm-12 col-xs-12"> Please list your specified item of machinery (valued over $5000 per item) below </p>
                        </div>
                        <div class="row">
                            <p class="col-md-3 col-sm-3 col-xs-12 text-left"> Description </p>
                            <p class="col-md-2 col-sm-2 col-xs-12 text-left"> Year </p>
                            <p class="col-md-3 col-sm-3 col-xs-12 text-left"> Serial Number </p>
                            <p class="col-md-2 col-sm-2 col-xs-12 text-left"> Excess </p>
                            <p class="col-md-2 col-sm-2 col-xs-12 text-right"> Sum Insured </p>
                        </div>
                        <div class="row">
                            <p class="col-md-3 col-sm-3 col-xs-12 text-left">
                                @if (Model.SectionData.ValueData != null && (Model.SectionData.ValueData.Count > 0))
                                {
                                    for (int j = 0; j < Model.SectionData.ValueData.Count; j++)
                                    {
                                        if (Model.SectionData.ValueData[j].Element.ElId == 60529 && Model.SectionData.ValueData[j].Value != "")
                                        {
                                            <span>@Model.SectionData.ValueData[j].Value</span><br /><br />
                                        }
                                    }
                                }
                            </p>
                            <p class="col-md-2 col-sm-2 col-xs-12 text-left">
                                @if (Model.SectionData.ValueData != null && (Model.SectionData.ValueData.Count > 0))
                                {
                                    for (int j = 0; j < Model.SectionData.ValueData.Count; j++)
                                    {
                                        if (Model.SectionData.ValueData[j].Element.ElId == 60531 && Model.SectionData.ValueData[j].Value != "")
                                        {
                                            <span>@Model.SectionData.ValueData[j].Value</span><br /><br />
                                        }
                                    }
                                }
                            </p>
                            <p class="col-md-3 col-sm-3 col-xs-12 text-left">
                                @if (Model.SectionData.ValueData != null && (Model.SectionData.ValueData.Count > 0))
                                {
                                    for (int j = 0; j < Model.SectionData.ValueData.Count; j++)
                                    {
                                        if (Model.SectionData.ValueData[j].Element.ElId == 60533 && Model.SectionData.ValueData[j].Value != "")
                                        {
                                            <span>@Model.SectionData.ValueData[j].Value</span><br /><br />
                                        }
                                    }
                                }
                            </p>
                            <p class="col-md-2 col-sm-2 col-xs-12 text-left">
                                @if (Model.SectionData.ValueData != null && (Model.SectionData.ValueData.Count > 0))
                                {
                                    for (int j = 0; j < Model.SectionData.ValueData.Count; j++)
                                    {
                                        if (Model.SectionData.ValueData[j].Element.ElId == 60535 && Model.SectionData.ValueData[j].Value != "")
                                        {
                                            <span>@Model.SectionData.ValueData[j].Value</span><br /><br />
                                        }
                                    }
                                }
                            </p>
                            <p class="col-md-2 col-sm-2 col-xs-12 text-left">
                                @if (Model.SectionData.ValueData != null && (Model.SectionData.ValueData.Count > 0))
                                {
                                    for (int j = 0; j < Model.SectionData.ValueData.Count; j++)
                                    {
                                        if (Model.SectionData.ValueData[j].Element.ElId == 60537 && Model.SectionData.ValueData[j].Value != "")
                                        {
                                            <span>@Model.SectionData.ValueData[j].Value</span><br /><br />
                                        }
                                    }
                                }
                            </p>
                        </div>
                        <div class="row">
                            <p class="col-md-10 col-sm-10 col-xs-10"> Total for specified items </p>
                            <p class="col-md-2 col-sm-2 col-xs-2 text-right">
                                @if (Model.SectionData.ValueData.Exists(p => p.Element.ElId == 60525) && (Model.SectionData.ValueData.Find(p => p.Element.ElId == 60525).Value != ""))
                                {
                                    <span>$@Model.SectionData.ValueData.Find(p => p.Element.ElId == 60525).Value</span>
                                }
                            </p>
                        </div>
                        <div class="row">
                            <p class="col-md-12 col-sm-12 col-xs-12 alert alert-info"><strong>Livestock</strong></p>
                        </div>
                        <div class="row">
                            <p class="col-md-3 col-sm-3 col-xs-12 text-left"> Description </p>
                            <p class="col-md-2 col-sm-2 col-xs-12 text-left"> Number of Animals </p>
                            <p class="col-md-3 col-sm-3 col-xs-12 text-left"> Sum Insured per Animal </p>
                            <p class="col-md-2 col-sm-2 col-xs-12 text-right"> Sum Insured </p>
                        </div>
                        <div class="row">
                            <p class="col-md-3 col-sm-3 col-xs-12 text-left">
                                @if (Model.SectionData.ValueData != null && (Model.SectionData.ValueData.Count > 0))
                                {
                                    for (int j = 0; j < Model.SectionData.ValueData.Count; j++)
                                    {
                                        if (Model.SectionData.ValueData[j].Element.ElId == 60565 && Model.SectionData.ValueData[j].Value != "")
                                        {
                                            if (Model.SectionData.ValueData[j].Value == "1")
                                            {
                                                <span>Alpacas</span><br /><br />
                                            }
                                            else if (Model.SectionData.ValueData[j].Value == "2")
                                            {
                                                <span>Bulls</span><br /><br />
                                            }
                                            else if (Model.SectionData.ValueData[j].Value == "3")
                                            {
                                                <span>Calves</span><br /><br />
                                            }
                                            else if (Model.SectionData.ValueData[j].Value == "4")
                                            {
                                                <span>Cattle</span><br /><br />
                                            }
                                            else if (Model.SectionData.ValueData[j].Value == "5")
                                            {
                                                <span>Deer</span><br /><br />
                                            }
                                            else if (Model.SectionData.ValueData[j].Value == "6")
                                            {
                                                <span>Ewes</span><br /><br />
                                            }
                                            else if (Model.SectionData.ValueData[j].Value == "7")
                                            {
                                                <span>Goats</span><br /><br />
                                            }
                                            else if (Model.SectionData.ValueData[j].Value == "8")
                                            {
                                                <span>Heifers</span><br /><br />
                                            }
                                            else if (Model.SectionData.ValueData[j].Value == "9")
                                            {
                                                <span>Hogs</span><br /><br />
                                            }
                                            else if (Model.SectionData.ValueData[j].Value == "10")
                                            {
                                                <span>Horses</span><br /><br />
                                            }
                                            else if (Model.SectionData.ValueData[j].Value == "11")
                                            {
                                                <span>Lambs</span><br /><br />
                                            }
                                            else if (Model.SectionData.ValueData[j].Value == "12")
                                            {
                                                <span>Ostriches</span><br /><br />
                                            }
                                            else if (Model.SectionData.ValueData[j].Value == "13")
                                            {
                                                <span>Pigs</span><br /><br />
                                            }
                                            else if (Model.SectionData.ValueData[j].Value == "14")
                                            {
                                                <span>Poultry</span><br /><br />
                                            }
                                            else if (Model.SectionData.ValueData[j].Value == "15")
                                            {
                                                <span>Rams</span><br /><br />
                                            }
                                            else if (Model.SectionData.ValueData[j].Value == "16")
                                            {
                                                <span>Sheep</span><br /><br />
                                            }
                                            else if (Model.SectionData.ValueData[j].Value == "17")
                                            {
                                                <span>Sows</span><br /><br />
                                            }
                                            else if (Model.SectionData.ValueData[j].Value == "18")
                                            {
                                                <span>Steers</span><br /><br />
                                            }
                                            else if (Model.SectionData.ValueData[j].Value == "19")
                                            {
                                                <span>Vealers</span><br /><br />
                                            }
                                            else if (Model.SectionData.ValueData[j].Value == "20")
                                            {
                                                <span>Wethers</span><br /><br />
                                            }
                                        }
                                    }
                                }
                            </p>
                            <p class="col-md-3 col-sm-3 col-xs-12 text-left">
                                @if (Model.SectionData.ValueData != null && (Model.SectionData.ValueData.Count > 0))
                                {
                                    for (int j = 0; j < Model.SectionData.ValueData.Count; j++)
                                    {
                                        if (Model.SectionData.ValueData[j].Element.ElId == 60567 && Model.SectionData.ValueData[j].Value != "")
                                        {
                                            <span>@Model.SectionData.ValueData[j].Value</span><br /><br />
                                        }
                                    }
                                }
                            </p>
                            <p class="col-md-3 col-sm-3 col-xs-12 text-left">
                                @if (Model.SectionData.ValueData != null && (Model.SectionData.ValueData.Count > 0))
                                {
                                    for (int j = 0; j < Model.SectionData.ValueData.Count; j++)
                                    {
                                        if (Model.SectionData.ValueData[j].Element.ElId == 60569 && Model.SectionData.ValueData[j].Value != "")
                                        {
                                            <span>@Model.SectionData.ValueData[j].Value</span><br /><br />
                                        }
                                    }
                                }
                            </p>
                            <p class="col-md-3 col-sm-3 col-xs-12 text-left">
                                @if (Model.SectionData.ValueData != null && (Model.SectionData.ValueData.Count > 0))
                                {
                                    for (int j = 0; j < Model.SectionData.ValueData.Count; j++)
                                    {
                                        if (Model.SectionData.ValueData[j].Element.ElId == 60571 && Model.SectionData.ValueData[j].Value != "")
                                        {
                                            <span>@Model.SectionData.ValueData[j].Value</span><br /><br />
                                        }
                                    }
                                }
                            </p>
                        </div>
                        <div class="row">
                            <p class="col-md-10 col-sm-10 col-xs-10"> Do you wish to insure your livestock against dog attack? </p>
                            <p class="col-md-2 col-sm-2 col-xs-2 text-right">
                                @if (Model.SectionData.ValueData.Exists(p => p.Element.ElId == 60575) && (Model.SectionData.ValueData.Find(p => p.Element.ElId == 60575).Value != null))
                                {
                                    if (Model.SectionData.ValueData.Find(p => p.Element.ElId == 60575).Value == "1")
                                    {
                                        <span>Yes</span>
                                    }
                                    else
                                    {
                                        <span>No</span>
                                    }
                                }
                            </p>
                        </div>
                        <div class="row">
                            <p class="col-md-10 col-sm-10 col-xs-10">Excess</p>
                            <p class="col-md-2 col-sm-2 col-xs-2 text-right">
                                @if (Model.SectionData.ValueData.Exists(p => p.Element.ElId == 60577) && (Model.SectionData.ValueData.Find(p => p.Element.ElId == 60577).Value != ""))
                                {
                                    <span>$@Model.SectionData.ValueData.Find(p => p.Element.ElId == 60577).Value</span>
                                }
                            </p>
                        </div>
                        <div class="row">
                            <p class="col-md-12 col-sm-12 col-xs-12 alert alert-info"><strong>Harvested Crops and Beehives</strong></p>
                            <p class="col-md-12 col-sm-12 col-xs-12"><strong> Harvested Crops </strong></p>
                        </div>
                        <div class="row">
                            <p class="col-md-8 col-sm-8 col-xs-12">How much cover do you need for this? </p>
                            <p class="col-md-4 col-sm-4 col-xs-12 text-right">
                                @if (Model.SectionData.ValueData.Exists(p => p.Element.ElId == 60593) && (Model.SectionData.ValueData.Find(p => p.Element.ElId == 60593).Value != ""))
                                {
                                    <span>$@Model.SectionData.ValueData.Find(p => p.Element.ElId == 60593).Value</span>
                                }
                            </p>
                        </div>
                        <div class="row">
                            <p class="col-md-8 col-sm-8 col-xs-12">Excess </p>
                            <p class="col-md-4 col-sm-4 col-xs-12 text-right">
                                @if (Model.SectionData.ValueData.Exists(p => p.Element.ElId == 60595) && (Model.SectionData.ValueData.Find(p => p.Element.ElId == 60595).Value != ""))
                                {
                                    <span>$@Model.SectionData.ValueData.Find(p => p.Element.ElId == 60595).Value</span>
                                }
                            </p>
                        </div>
                        <div class="row">
                            <p class="col-md-12 col-sm-12 col-xs-12"><strong> Beehives </strong></p>
                        </div>
                        <div class="row">
                            <p class="col-md-10 col-sm-10 col-xs-10">Would you like to insure your beehives?</p>
                            <p class="col-md-2 col-sm-2 col-xs-2 text-right">
                                @if (Model.SectionData.ValueData.Exists(p => p.Element.ElId == 60601) && (Model.SectionData.ValueData.Find(p => p.Element.ElId == 60601).Value != ""))
                                {
                                    <span>@Model.SectionData.ValueData.Find(p => p.Element.ElId == 60601).Value</span>
                                }
                            </p>
                        </div>
                        <div class="row">
                            <p class="col-md-10 col-sm-10 col-xs-10">How many hives do you have?</p>
                            <p class="col-md-2 col-sm-2 col-xs-2 text-right">
                                @if (Model.SectionData.ValueData.Exists(p => p.Element.ElId == 60603) && (Model.SectionData.ValueData.Find(p => p.Element.ElId == 60603).Value != ""))
                                {
                                    <span>@Model.SectionData.ValueData.Find(p => p.Element.ElId == 60187).Value</span>
                                }
                            </p>
                        </div>
                        <div class="row">
                            <p class="col-md-10 col-sm-10 col-xs-10">Would you like to insure your beehives?</p>
                            <p class="col-md-2 col-sm-2 col-xs-2 text-right">
                                @if (Model.SectionData.ValueData.Exists(p => p.Element.ElId == 60187) && (Model.SectionData.ValueData.Find(p => p.Element.ElId == 60187).Value != ""))
                                {
                                    <span>@Model.SectionData.ValueData.Find(p => p.Element.ElId == 60603).Value</span>
                                }
                            </p>
                        </div>
                        <div class="row">
                            <p class="col-md-10 col-sm-10 col-xs-10">Excess</p>
                            <p class="col-md-2 col-sm-2 col-xs-2 text-right">
                                @if (Model.SectionData.ValueData.Exists(p => p.Element.ElId == 60595) && (Model.SectionData.ValueData.Find(p => p.Element.ElId == 60595).Value != ""))
                                {
                                    <span>$@Model.SectionData.ValueData.Find(p => p.Element.ElId == 60595).Value</span>
                                }
                            </p>
                        </div>
                        <div class="row">
                            <button type="submit" class="btn-primary btn pull-right" style="margin-top:5% !important;">NEXT</button>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
}
else
{
    <div class="row content">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 policy-full-head">
            @using (Ajax.BeginForm("Travels", "PolicyDetails", new { cid = @ViewBag.cid, PcId = @ViewBag.PcId, step = 2 }, new AjaxOptions()
            {
                HttpMethod = "GET"

            }))
            {
                <div class="row content policy-full-view">
                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                        <div class="well">
                            @Html.HiddenFor(p => p.CustomerId)
                            <h3>FARM PROPERTY DETAILS</h3>
                            <div class="row">
                                <p class="col-md-12 col-sm-12 col-xs-12 alert alert-info"><strong>No details</strong></p>
                            </div>
                            <div class="row">
                                <button type="submit" class="btn-primary btn pull-right" style="margin-top:5% !important;">NEXT</button>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}