@model InsureThatAPI.Models.ViewEditPolicyDetails
@{
    ViewBag.Title = "Home Bilding";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (Model.PolicyData != null)
{
    <div class="row content">
        <div class="col-lg-6 col-md-6 col-sm-4 col-xs-12 policy-full-head">
            <h2>
                POLICY DETAILS<span>
                    @if (Model.PolicyData.InsuredName != null)
                    {
                        <span>@Model.PolicyData.InsuredName/</span>
                    }
                    @if (Model.PolicyData.PolicyNumber != null)
                    {
                        @Model.PolicyData.PolicyNumber
                    }
                    @if (Model.PolicyData.PolicyStatus != null)
                    {
                        if (Model.PolicyData.PolicyStatus == "AP")
                        { <span>/ Endorsed Policy</span> }
                        else if (Model.PolicyData.PolicyStatus == "AQ")
                        { <span>/ Endorsement Quotation</span> }
                        else if (Model.PolicyData.PolicyStatus == "CP")
                        { <span>/ Cancelled Policy</span> }
                        else if (Model.PolicyData.PolicyStatus == "CQ")
                        { <span>/ Cancellation Quotation</span> }
                        else if (Model.PolicyData.PolicyStatus == "DQ")
                        { <span>/ Discarded Quotation</span> }
                        else if (Model.PolicyData.PolicyStatus == "NP")
                        { <span>/ New Policy</span> }
                        else if (Model.PolicyData.PolicyStatus == "NQ")
                        { <span>/ Quotation</span> }
                        else if (Model.PolicyData.PolicyStatus == "RP")
                        { <span>/ Renewed Policy</span> }
                        else if (Model.PolicyData.PolicyStatus == "RQ")
                        { <span>/ Renewal Invitation</span> }
                        else if (Model.PolicyData.PolicyStatus == "XP")
                        { <span>/ Cancelled Policy</span> }
                        else if (Model.PolicyData.PolicyStatus == "XQ")
                        { <span>/ Cancellation Quotation</span> }
                    }
                </span>

            </h2>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <a class="btn color-bk-btn col-md-4 margin-right-10 leftmargin-sm pull-right" href="@Url.Action("PolicyHistory", "RuralLifeStyle", new { PcId = Model.PolicyData.PolicyNumber })">View Policy History</a>
            <a class="btn color-bk-btn col-md-3 margin-left-5 leftmargin-sm pull-right" href="@Url.Action("InsuredList", "Customer", new { PolicyNumber = Model.PolicyData.PolicyNumber })">View Insured</a>
            <a class="btn color-bk-btn col-sm-3 margin-left-5 pull-right" href="@Url.Action("NewPolicy", "Customer", new { CustomerId = 1 })">Add Policy</a>
        </div>

        <div class="mt-50 mb-50"></div>
        <div class="p-10 col-md-12 border-bottom-1 mb-15">
            <div class="col-lg-1 col-md-1 col-sm-2 col-xs-12">
                <img src="~/images/farm-icon.png" class="policy-list-img">
            </div>
            <div class="col-lg-11 col-md-11 col-sm-10 col-xs-12">
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 p-10">
                                Policy Type: @if (Model.PolicyData.PrId == 1029 || Model.PolicyData.PrId == 1009)
                                {
                                    <lable>Rural Lifestyle</lable>
                                }
                                else
                                { <label>Farm</label>
                                }
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 p-10">
                                Policy No: @Model.PolicyData.PolicyNumber
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 p-10">Insured:@Model.PolicyData.InsuredName</div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 p-10">Start Date: @Model.PolicyData.InceptionDate.ToString("dd/MM/yy")</div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 p-10">End Date: @Model.PolicyData.ExpiryDate.ToString("dd/MM/yy")</div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 p-10">Duration: 12 Months</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <a href="#" class="btn-primary btn col-md-12 mb-5">View Documents</a><br />
                    <a href="#" class="btn-primary btn col-md-12">Cancel Policy</a>
                </div>
            </div>
        </div>
    </div>
    <div id="screens">
        @using (Ajax.BeginForm("ViewUpdatePolicyDetails", "Customer", new { CustomerId = @ViewBag.cid, PcId = Model.PolicyData.PolicyNumber, step = 2 }, new AjaxOptions()
        {
            HttpMethod = "GET"

        }))
        {
            @Html.AntiForgeryToken()
            <div class="row content policy-full-view">
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                    <div class="well">
                        @Html.HiddenFor(p => p.CustomerId)
                        <h3>HOME BUILDING DETAILS</h3>
                        <div class="row">
                            <p class="col-md-12 col-sm-12 col-xs-12 alert alert-info"><strong>Home Description</strong></p>
                        </div>
                        <div class="row">
                            <p class="col-md-8 col-sm-8 col-xs-12">Address</p>
                            <p class="col-md-4 col-sm-4 col-xs-12 text-right">
                                @if (Model.AddressData != null && Model.AddressData.Count > 0)
                                {
                                    <span>@Model.AddressData[0].AddressLine1,&nbsp;@Model.AddressData[0].Suburb,&nbsp;@Model.AddressData[0].State,&nbsp;@Model.AddressData[0].Postcode</span>
                                }
                            </p>
                        </div>
                        <div class="row">
                            <p class="col-md-10 col-sm-10 col-xs-10">Area of the property  </p>
                            <p class="col-md-2 col-sm-2 col-xs-2 text-right">
                                @if (Model.ProfileData.ValueData.Exists(p => p.Element.ElId == 60009) && (Model.ProfileData.ValueData.Find(p => p.Element.ElId == 60009).Value != ""))
                                {
                                    @Model.ProfileData.ValueData.Find(p => p.Element.ElId == 60009).Value <label>Hectares</label>
                                }
                            </p>
                        </div>
                        <div class="row">
                            <p class="col-md-10 col-sm-10 col-xs-10">Is <B>Your Home Building more than 100 metres</B> from<b> Uncleared Natural Bushland</b>, a State or National Forest or a commercial plantation of pine trees?</p>
                            <p class="col-md-2 col-sm-2 col-xs-2 text-right">
                                @if (Model.ProfileData.ValueData.Exists(p => p.Element.ElId == 60013) && (Model.ProfileData.ValueData.Find(p => p.Element.ElId == 60013).Value == "1"))
                                {
                                    <span>Yes</span>
                                }
                                else
                                {
                                    <span>No</span>
                                }
                            </p>
                        </div>
                        <div class="row">
                            <p class="col-md-10 col-sm-10 col-xs-10">Description of this building at this address</p>
                            <p class="col-md-2 col-sm-2 col-xs-2 text-right">
                                @if (Model.ProfileData.ValueData.Exists(p => p.Element.ElId == 60007) && (Model.ProfileData.ValueData.Find(p => p.Element.ElId == 60007).Value == "1"))
                                {
                                    <span>Main Home</span>
                                }
                                @if (Model.ProfileData.ValueData.Exists(p => p.Element.ElId == 60007) && (Model.ProfileData.ValueData.Find(p => p.Element.ElId == 60007).Value == "2"))
                                {
                                    <span>Managers Home</span>
                                }
                                @if (Model.ProfileData.ValueData.Exists(p => p.Element.ElId == 60007) && (Model.ProfileData.ValueData.Find(p => p.Element.ElId == 60007).Value == "3"))
                                {
                                    <span>Gate Home</span>
                                }
                                @if (Model.ProfileData.ValueData.Exists(p => p.Element.ElId == 60007) && (Model.ProfileData.ValueData.Find(p => p.Element.ElId == 60007).Value == "4"))
                                {
                                    <span>Guest Home</span>
                                }
                                @if (Model.ProfileData.ValueData.Exists(p => p.Element.ElId == 60007) && (Model.ProfileData.ValueData.Find(p => p.Element.ElId == 60007).Value == "5"))
                                {
                                    <span>Pool Home</span>
                                }
                                @if (Model.ProfileData.ValueData.Exists(p => p.Element.ElId == 60007) && (Model.ProfileData.ValueData.Find(p => p.Element.ElId == 60007).Value == "6"))
                                {
                                    <span>Summer Home</span>
                                }
                            </p>
                        </div>
                        <div class="row">
                            <p class="col-md-10 col-sm-10 col-xs-10">Is your Home Building located on farm?</p>
                            <p class="col-md-2 col-sm-2 col-xs-2 text-right">
                                @if (Model.ProfileData.ValueData.Exists(p => p.Element.ElId == 60015) && (Model.ProfileData.ValueData.Find(p => p.Element.ElId == 60015).Value == "1"))
                                {
                                    <span>Yes</span>
                                }
                                else
                                {
                                    <span>No</span>
                                }
                            </p>
                        </div>
                        <div class="row">
                            <p class="col-md-12 col-sm-12 col-xs-12 alert alert-info"><strong>Construction Details</strong></p>
                        </div>
                        <div class="row">
                            <p class="col-md-10 col-sm-10 col-xs-10"> What is External Walls made of </p>
                            <p class="col-md-2 col-sm-2 col-xs-2 text-right">
                                @if (Model.ProfileData.ValueData.Exists(p => p.Element.ElId == 60029) && (Model.ProfileData.ValueData.Find(p => p.Element.ElId == 60029).Value != null))
                                {
                                    if (Model.ProfileData.ValueData.Exists(p => p.Element.ElId == 60029) && (Model.ProfileData.ValueData.Find(p => p.Element.ElId == 60029).Value == "1"))
                                    {
                                        <span>Asbestos cement sheet or plank</span>
                                    }
                                    else if (Model.ProfileData.ValueData.Exists(p => p.Element.ElId == 60029) && (Model.ProfileData.ValueData.Find(p => p.Element.ElId == 60029).Value == "2"))
                                    {
                                        <span>Brick Veneer</span>
                                    }
                                    else if (Model.ProfileData.ValueData.Exists(p => p.Element.ElId == 60029) && (Model.ProfileData.ValueData.Find(p => p.Element.ElId == 60029).Value == "3"))
                                    {
                                        <span>Cladding</span>
                                        if (Model.ProfileData.ValueData.Exists(p => p.Element.ElId == 60031) && (Model.ProfileData.ValueData.Find(p => p.Element.ElId == 60031).Value == null))
                                        {
                                            @Model.ProfileData.ValueData.Find(p => p.Element.ElId == 60031).Value
                                        }
                                    }
                                    else if (Model.ProfileData.ValueData.Exists(p => p.Element.ElId == 60029) && (Model.ProfileData.ValueData.Find(p => p.Element.ElId == 60029).Value == "4"))
                                    {
                                        <span>Concrete</span>
                                    }
                                    else if (Model.ProfileData.ValueData.Exists(p => p.Element.ElId == 60029) && (Model.ProfileData.ValueData.Find(p => p.Element.ElId == 60029).Value == "5"))
                                    {
                                        <span>Concrete Block</span>
                                    }
                                    else if (Model.ProfileData.ValueData.Exists(p => p.Element.ElId == 60029) && (Model.ProfileData.ValueData.Find(p => p.Element.ElId == 60029).Value == "6"))
                                    {
                                        <span>Double Brick</span>
                                    }
                                    else if (Model.ProfileData.ValueData.Exists(p => p.Element.ElId == 60029) && (Model.ProfileData.ValueData.Find(p => p.Element.ElId == 60029).Value == "7"))
                                    {
                                        <span>Metel</span>
                                    }
                                    else if (Model.ProfileData.ValueData.Exists(p => p.Element.ElId == 60029) && (Model.ProfileData.ValueData.Find(p => p.Element.ElId == 60029).Value == "8"))
                                    {
                                        <span>Mud Brick</span>
                                    }
                                    else if (Model.ProfileData.ValueData.Exists(p => p.Element.ElId == 60029) && (Model.ProfileData.ValueData.Find(p => p.Element.ElId == 60029).Value == "9"))
                                    {
                                        <span>Other</span>
                                        if (Model.ProfileData.ValueData.Exists(p => p.Element.ElId == 60031) && (Model.ProfileData.ValueData.Find(p => p.Element.ElId == 60031).Value != null))
                                        {
                                            @Model.ProfileData.ValueData.Find(p => p.Element.ElId == 60031).Value
                                        }
                                    }
                                    else if (Model.ProfileData.ValueData.Exists(p => p.Element.ElId == 60029) && (Model.ProfileData.ValueData.Find(p => p.Element.ElId == 60029).Value == "10"))
                                    {
                                        <span>Rock/Stone</span>
                                    }
                                    else if (Model.ProfileData.ValueData.Exists(p => p.Element.ElId == 60029) && (Model.ProfileData.ValueData.Find(p => p.Element.ElId == 60029).Value == "11"))
                                    {
                                        <span>Rockcote</span>
                                    }
                                    else if (Model.ProfileData.ValueData.Exists(p => p.Element.ElId == 60029) && (Model.ProfileData.ValueData.Find(p => p.Element.ElId == 60029).Value == "12"))
                                    {
                                        <span>Timber</span>
                                    }
                                }
                            </p>
                        </div>
                        <div class="row">
                            <p class="col-md-10 col-sm-10 col-xs-10"> What is Roof made of </p>
                            <p class="col-md-2 col-sm-2 col-xs-2 text-right">
                                @if (Model.ProfileData.ValueData.Exists(p => p.Element.ElId == 60033) && (Model.ProfileData.ValueData.Find(p => p.Element.ElId == 60033).Value != null))
                                {
                                    if (Model.ProfileData.ValueData.Exists(p => p.Element.ElId == 60033) && (Model.ProfileData.ValueData.Find(p => p.Element.ElId == 60033).Value == "1"))
                                    {
                                        <span>Cement tiles</span>
                                    }
                                    else if (Model.ProfileData.ValueData.Exists(p => p.Element.ElId == 60033) && (Model.ProfileData.ValueData.Find(p => p.Element.ElId == 60033).Value == "2"))
                                    {
                                        <span>Colourbond/zincalume</span>
                                    }
                                    else if (Model.ProfileData.ValueData.Exists(p => p.Element.ElId == 60033) && (Model.ProfileData.ValueData.Find(p => p.Element.ElId == 60033).Value == "3"))
                                    {
                                        <span>Corrugated Iron</span>
                                    }
                                    else if (Model.ProfileData.ValueData.Exists(p => p.Element.ElId == 60033) && (Model.ProfileData.ValueData.Find(p => p.Element.ElId == 60033).Value == "4"))
                                    {
                                        <span>Fibro / asbestos cement – this will require approval before completion of the quote.</span>
                                    }
                                    else if (Model.ProfileData.ValueData.Exists(p => p.Element.ElId == 60033) && (Model.ProfileData.ValueData.Find(p => p.Element.ElId == 60033).Value == "5"))
                                    {
                                        <span>Metel Tiles</span>
                                    }
                                    else if (Model.ProfileData.ValueData.Exists(p => p.Element.ElId == 60033) && (Model.ProfileData.ValueData.Find(p => p.Element.ElId == 60033).Value == "6"))
                                    {
                                        <span> Cladding </span>
                                        if (Model.ProfileData.ValueData.Exists(p => p.Element.ElId == 60035) && (Model.ProfileData.ValueData.Find(p => p.Element.ElId == 60035).Value == null))
                                        {
                                            @Model.ProfileData.ValueData.Find(p => p.Element.ElId == 60035).Value
                                        }
                                    }
                                    else if (Model.ProfileData.ValueData.Exists(p => p.Element.ElId == 60033) && (Model.ProfileData.ValueData.Find(p => p.Element.ElId == 60033).Value == "7"))
                                    {
                                        <span> Terracotta tiles </span>
                                    }
                                }
                            </p>
                        </div>
                        <div class="row">
                            <p class="col-md-10 col-sm-10 col-xs-10">  In what year was the home built? </p>
                            <p class="col-md-2 col-sm-2 col-xs-2 text-right">
                                @if (Model.ProfileData.ValueData.Exists(p => p.Element.ElId == 60037) && (Model.ProfileData.ValueData.Find(p => p.Element.ElId == 60037).Value != null))
                                {
                                    <span>@Model.ProfileData.ValueData.Find(p => p.Element.ElId == 60037).Value</span>
                                }
                            </p>
                        </div>
                        <div class="row">
                            <p class="col-md-10 col-sm-10 col-xs-10">Is the Home Building watertight, well maintained, structurally sound and secure?</p>
                            <p class="col-md-2 col-sm-2 col-xs-2 text-right">
                                @if (Model.ProfileData.ValueData.Exists(p => p.Element.ElId == 60039) && (Model.ProfileData.ValueData.Find(p => p.Element.ElId == 60039).Value != null))
                                {
                                    if (Model.ProfileData.ValueData.Find(p => p.Element.ElId == 60039).Value == "1")
                                    {
                                        <span>Yes</span>
                                    }
                                    else
                                    {
                                        <span>No</span>
                                    }
                                }
                            </p>
                        </div>
                        <div class="row">
                            <p class="col-md-10 col-sm-10 col-xs-10">Is the Home Building protected under heritage legislation other than a local council listing?</p>
                            <p class="col-md-2 col-sm-2 col-xs-2 text-right">
                                @if (Model.ProfileData.ValueData.Exists(p => p.Element.ElId == 60045) && (Model.ProfileData.ValueData.Find(p => p.Element.ElId == 60045).Value != null))
                                {
                                    if (Model.ProfileData.ValueData.Find(p => p.Element.ElId == 60045).Value == "1")
                                    {
                                        <span>Yes</span>
                                    }
                                    else
                                    {
                                        <span>No</span>
                                    }
                                }
                            </p>
                        </div>
                        <div class="row">
                            <p class="col-md-10 col-sm-10 col-xs-10">Is the Home Building under construction or undergoing renovation, alteration or extension?</p>
                            <p class="col-md-2 col-sm-2 col-xs-2 text-right">
                                @if (Model.ProfileData.ValueData.Exists(p => p.Element.ElId == 60055) && (Model.ProfileData.ValueData.Find(p => p.Element.ElId == 60055).Value != null))
                                {
                                    if (Model.ProfileData.ValueData.Find(p => p.Element.ElId == 60055).Value == "1")
                                    {
                                        <span>Yes</span>
                                    }
                                    else
                                    {
                                        <span>No</span>
                                    }
                                }
                            </p>
                        </div>
                        <div class="row">
                            <p class="col-md-10 col-sm-10 col-xs-10">Does your Home Building comply with the local council regulations regarding its fitness for occupancy as a domestic dwelling and as a Bread and Breakfast business?</p>
                            <p class="col-md-2 col-sm-2 col-xs-2 text-right">
                                @if (Model.ProfileData.ValueData.Exists(p => p.Element.ElId == 60057) && (Model.ProfileData.ValueData.Find(p => p.Element.ElId == 60057).Value != null))
                                {
                                    if (Model.ProfileData.ValueData.Find(p => p.Element.ElId == 60057).Value == "1")
                                    {
                                        <span>Yes</span>
                                    }
                                    else
                                    {
                                        <span>No</span>
                                    }
                                }
                            </p>
                        </div>
                        <div class="row">
                            <p class="col-md-12 col-sm-12 col-xs-12 alert alert-info"><strong>Occupancy Details</strong></p>
                        </div>
                        <div class="row">
                            <p class="col-md-10 col-sm-10 col-xs-10">Normally who lives there?</p>
                            <p class="col-md-2 col-sm-2 col-xs-2 text-right">
                                @if (Model.ProfileData.ValueData.Exists(p => p.Element.ElId == 60071) && (Model.ProfileData.ValueData.Find(p => p.Element.ElId == 60071).Value != null))
                                {
                                    if (Model.ProfileData.ValueData.Find(p => p.Element.ElId == 60071).Value == "1")
                                    {
                                        <span>Yes</span>
                                    }
                                    else
                                    {
                                        <span>No</span>
                                    }
                                }
                            </p>
                        </div>
                        <div class="row">
                            <p class="col-md-10 col-sm-10 col-xs-10">Normally who lives there?</p>
                            <p class="col-md-2 col-sm-2 col-xs-2 text-right">
                                @if (Model.ProfileData.ValueData.Exists(p => p.Element.ElId == 60071) && (Model.ProfileData.ValueData.Find(p => p.Element.ElId == 60071).Value != null))
                                {
                                    if (Model.ProfileData.ValueData.Find(p => p.Element.ElId == 60071).Value == "1")
                                    {
                                        <span>Yes</span>
                                    }
                                    else
                                    {
                                        <span>No</span>
                                    }
                                }
                            </p>
                        </div>
                        <div class="row">
                            <p class="col-md-10 col-sm-10 col-xs-10">Is the Building?</p>
                            <p class="col-md-2 col-sm-2 col-xs-2 text-right">
                                @if (Model.ProfileData.ValueData.Exists(p => p.Element.ElId == 60073) && (Model.ProfileData.ValueData.Find(p => p.Element.ElId == 60073).Value != null))
                                {
                                    if (Model.ProfileData.ValueData.Find(p => p.Element.ElId == 60073).Value == "1")
                                    {
                                        <span>Occupied</span>
                                    }
                                    else if (Model.ProfileData.ValueData.Find(p => p.Element.ElId == 60073).Value == "2")
                                    {
                                        <span>Unoccupied</span>
                                    }
                                    else if (Model.ProfileData.ValueData.Find(p => p.Element.ElId == 60073).Value == "3")
                                    {
                                        <span>Holiday Home</span>
                                    }
                                }
                            </p>
                        </div>
                        <div class="row">
                            <p class="col-md-10 col-sm-10 col-xs-10">In the next 12 months, will the home be unoccupied for 90 consecutive days or more? </p>
                            <p class="col-md-2 col-sm-2 col-xs-2 text-right">
                                @if (Model.ProfileData.ValueData.Exists(p => p.Element.ElId == 60075) && (Model.ProfileData.ValueData.Find(p => p.Element.ElId == 60075).Value != null))
                                {
                                    if (Model.ProfileData.ValueData.Find(p => p.Element.ElId == 60075).Value == "1")
                                    {
                                        <span>Yes</span>
                                    }
                                    else
                                    {
                                        <span>No</span>
                                    }
                                }
                            </p>
                        </div>
                        <div class="row">
                            <p class="col-md-10 col-sm-10 col-xs-10">Is the building used for business?</p>
                            <p class="col-md-2 col-sm-2 col-xs-2 text-right">
                                @if (Model.ProfileData.ValueData.Exists(p => p.Element.ElId == 60077) && (Model.ProfileData.ValueData.Find(p => p.Element.ElId == 60077).Value != null))
                                {
                                    if (Model.ProfileData.ValueData.Find(p => p.Element.ElId == 60077).Value == "1")
                                    {
                                        <span>Yes</span>
                                    }
                                    else
                                    {
                                        <span>No</span>
                                    }
                                }
                            </p>
                        </div>
                        <div class="row">
                            <p class="col-md-10 col-sm-10 col-xs-10">Describe the business</p>
                            <p class="col-md-2 col-sm-2 col-xs-2 text-right">
                                @if (Model.ProfileData.ValueData.Exists(p => p.Element.ElId == 60079) && (Model.ProfileData.ValueData.Find(p => p.Element.ElId == 60079).Value != null))
                                {
                                    <span>@Model.ProfileData.ValueData.Find(p => p.Element.ElId == 60079).Value</span>
                                }
                            </p>
                        </div>
                        <div class="row">
                            <p class="col-md-12 col-sm-12 col-xs-12 alert alert-info"><strong>Interested Parties</strong></p>
                        </div>
                        <div class="row">
                            <p class="col-md-6 col-sm-6 col-xs-12 text-left">Name of Institutions</p>
                            <p class="col-md-6 col-sm-6 col-xs-12 text-right">Location of Institution</p>
                        </div>
                        <div class="row">
                            <p class="col-md-6 col-sm-6 col-xs-12 text-left">
                                @if (Model.ProfileData.ValueData != null && (Model.ProfileData.ValueData.Count > 0))
                                {
                                    for (int j = 0; j < Model.ProfileData.ValueData.Count; j++)
                                    {
                                        if (Model.ProfileData.ValueData[j].Element.ElId == 60131 && Model.ProfileData.ValueData[j].Value != "")
                                        {
                                            <span>@Model.ProfileData.ValueData[j].Value</span><br /><br />
                                        }
                                    }
                                }
                            </p>
                            <p class="col-md-6 col-sm-6 col-xs-12 text-right">
                                @if (Model.ProfileData.ValueData != null && (Model.ProfileData.ValueData.Count > 0))
                                {
                                    string oddeven = "odd";
                                    for (int i = 0; i < Model.ProfileData.ValueData.Count; i++)
                                    {
                                        if (Model.ProfileData.ValueData[i].Element.ElId == 60133 && Model.ProfileData.ValueData[i].Value != "")
                                        {
                                            if (oddeven == "odd")
                                            {
                                                oddeven = "even";
                                            }
                                            else
                                            {
                                                oddeven = "odd";
                                                <span>@Model.ProfileData.ValueData[i].Value</span><br /><br />
                                            }
                                        }
                                    }
                                }
                            </p>
                        </div>
                        <div class="row">
                            <p class="col-md-12 col-sm-12 col-xs-12 alert alert-info"><strong>Home Building</strong></p>
                        </div>
                        <div class="row">
                            <p class="col-md-8 col-sm-8 col-xs-12">Location</p>
                            <p class="col-md-4 col-sm-4 col-xs-12 text-right">
                                @if (Model.AddressData != null && Model.AddressData.Count > 0)
                                {
                                    <span>@Model.AddressData[0].AddressLine1,&nbsp;@Model.AddressData[0].Suburb,&nbsp;@Model.AddressData[0].State,&nbsp;@Model.AddressData[0].Postcode</span>
                                }
                            </p>
                        </div>
                        <div class="row">
                            <p class="col-md-10 col-sm-10 col-xs-10">How much would it cost to replace your Home Building?</p>
                            <p class="col-md-2 col-sm-2 col-xs-2 text-right">
                                @if (Model.SectionData.ValueData.Exists(p => p.Element.ElId == 60187) && (Model.SectionData.ValueData.Find(p => p.Element.ElId == 60187).Value != null))
                                {
                                    <span>$@Model.SectionData.ValueData.Find(p => p.Element.ElId == 60187).Value</span>
                                }
                            </p>
                        </div>
                        <div class="row">
                            <p class="col-md-10 col-sm-10 col-xs-10">Cover for Home Building</p>
                            <p class="col-md-2 col-sm-2 col-xs-2 text-right">
                                @if (Model.SectionData.ValueData.Exists(p => p.Element.ElId == 60187) && (Model.SectionData.ValueData.Find(p => p.Element.ElId == 60187).Value != null))
                                {
                                    <span>$@Model.SectionData.ValueData.Find(p => p.Element.ElId == 60187).Value</span>
                                }
                            </p>
                        </div>
                        <div class="row">
                            <p class="col-md-10 col-sm-10 col-xs-10">Claim free period?</p>
                            <p class="col-md-2 col-sm-2 col-xs-2 text-right">
                                @if (Model.SectionData.ValueData.Exists(p => p.Element.ElId == 60195) && (Model.SectionData.ValueData.Find(p => p.Element.ElId == 60195).Value != null))
                                {
                                    if (Model.SectionData.ValueData.Find(p => p.Element.ElId == 60195).Value == "1")
                                    {
                                        <span>1 year</span>
                                    }
                                    else if (Model.SectionData.ValueData.Find(p => p.Element.ElId == 60195).Value == "2")
                                    {
                                        <span>2 years</span>
                                    }
                                    else
                                    {
                                        <span>0 year</span>
                                    }
                                }
                            </p>
                        </div>
                        <div class="row">
                            <p class="col-md-10 col-sm-10 col-xs-10">Please select the excess you wish to pay</p>
                            <p class="col-md-2 col-sm-2 col-xs-2 text-right">
                                @if (Model.SectionData.ValueData.Exists(p => p.Element.ElId == 60197) && (Model.SectionData.ValueData.Find(p => p.Element.ElId == 60197).Value != null))
                                {
                                    <span>$@Model.SectionData.ValueData.Find(p => p.Element.ElId == 60197).Value</span>
                                }
                            </p>
                        </div>
                        <div class="row">
                            <p class="col-md-10 col-sm-10 col-xs-10">No claim discount</p>
                            <p class="col-md-2 col-sm-2 col-xs-2 text-right">
                                @if (Model.SectionData.ValueData.Exists(p => p.Element.ElId == 60203) && (Model.SectionData.ValueData.Find(p => p.Element.ElId == 60203).Value != null))
                                {
                                    <span>@Model.SectionData.ValueData.Find(p => p.Element.ElId == 60203).Value</span>
                                }
                            </p>
                        </div>
                        <div class="row">
                            <p class="col-md-10 col-sm-10 col-xs-10">Age discount</p>
                            <p class="col-md-2 col-sm-2 col-xs-2 text-right">
                                @if (Model.SectionData.ValueData.Exists(p => p.Element.ElId == 60215) && (Model.SectionData.ValueData.Find(p => p.Element.ElId == 60215).Value != null))
                                {
                                    <span>@Model.SectionData.ValueData.Find(p => p.Element.ElId == 60215).Value</span>
                                }
                            </p>
                        </div>
                        <div class="row">
                            <p class="col-md-10 col-sm-10 col-xs-10">Premium</p>
                            <p class="col-md-2 col-sm-2 col-xs-2 text-right">
                                @if (Model.SectionData.ValueData.Exists(p => p.Element.ElId == 60215) && (Model.SectionData.ValueData.Find(p => p.Element.ElId == 60215).Value != null))
                                {
                                    <span>@Model.SectionData.ValueData.Find(p => p.Element.ElId == 60215).Value</span>
                                }
                            </p>
                        </div>
                        <div class="row">
                            <button type="submit" class="btn-primary btn pull-right" style="margin-top:5% !important;">NEXT</button>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
}