@model InsureThatAPI.Models.ViewEditPolicyDetails
@{
    ViewBag.Title = "Mobile Farm Property";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (Model.PolicyData != null)
{
    <div class="row content">
        <div class="col-lg-6 col-md-6 col-sm-4 col-xs-12 policy-full-head">
            <h2>
                POLICY DETAILS<span>
                    @if (Model.PolicyData.InsuredName != null)
                    {
                        <span>@Model.PolicyData.InsuredName/</span>
                    }
                    @if (Model.PolicyData.PolicyNumber != null)
                    {
                        @Model.PolicyData.PolicyNumber
                    }
                    @if (Model.PolicyData.PolicyStatus != null)
                    {
                        if (Model.PolicyData.PolicyStatus == "AP")
                        { <span>/ Endorsed Policy</span> }
                        else if (Model.PolicyData.PolicyStatus == "AQ")
                        { <span>/ Endorsement Quotation</span> }
                        else if (Model.PolicyData.PolicyStatus == "CP")
                        { <span>/ Cancelled Policy</span> }
                        else if (Model.PolicyData.PolicyStatus == "CQ")
                        { <span>/ Cancellation Quotation</span> }
                        else if (Model.PolicyData.PolicyStatus == "DQ")
                        { <span>/ Discarded Quotation</span> }
                        else if (Model.PolicyData.PolicyStatus == "NP")
                        { <span>/ New Policy</span> }
                        else if (Model.PolicyData.PolicyStatus == "NQ")
                        { <span>/ Quotation</span> }
                        else if (Model.PolicyData.PolicyStatus == "RP")
                        { <span>/ Renewed Policy</span> }
                        else if (Model.PolicyData.PolicyStatus == "RQ")
                        { <span>/ Renewal Invitation</span> }
                        else if (Model.PolicyData.PolicyStatus == "XP")
                        { <span>/ Cancelled Policy</span> }
                        else if (Model.PolicyData.PolicyStatus == "XQ")
                        { <span>/ Cancellation Quotation</span> }
                    }
                </span>

            </h2>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <a class="btn color-bk-btn col-md-4 margin-right-10 leftmargin-sm pull-right" href="@Url.Action("PolicyHistory", "RuralLifeStyle", new { PcId = Model.PolicyData.PolicyNumber })">View Policy History</a>
            <a class="btn color-bk-btn col-md-3 margin-left-5 leftmargin-sm pull-right" href="@Url.Action("InsuredList", "Customer", new { PolicyNumber = Model.PolicyData.PolicyNumber })">View Insured</a>
            <a class="btn color-bk-btn col-sm-3 margin-left-5 pull-right" href="@Url.Action("NewPolicy", "Customer", new { CustomerId = 1 })">Add Policy</a>
        </div>

        <div class="mt-50 mb-50"></div>
        <div class="p-10 col-md-12 border-bottom-1 mb-15">
            <div class="col-lg-1 col-md-1 col-sm-2 col-xs-12">
                <img src="~/images/farm-icon.png" class="policy-list-img">
            </div>
            <div class="col-lg-11 col-md-11 col-sm-10 col-xs-12">
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 p-10">
                                Policy Type: @if (Model.PolicyData.PrId == 1029 || Model.PolicyData.PrId == 1009)
                                {
                                    <lable>RuralLifestyle</lable>
                                }
                                else
                                { <label>Farm</label>
                                }
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 p-10">
                                Policy No: @Model.PolicyData.PolicyNumber
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 p-10">Insured:@Model.PolicyData.InsuredName</div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 p-10">Start Date: @Model.PolicyData.InceptionDate.ToString("dd/MM/yy")</div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 p-10">End Date: @Model.PolicyData.ExpiryDate.ToString("dd/MM/yy")</div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 p-10">Duration: 12 Months</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <a href="#" class="btn-primary btn col-md-12 mb-5">View Documents</a><br />
                    <a href="#" class="btn-primary btn col-md-12">Cancel Policy</a>
                </div>
            </div>
        </div>
    </div>
}
<div class="row content">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 policy-full-head">
        <div class="row content policy-full-view">
            <div id="screens" class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                @if (Model.SectionData != null)
                {
                    using (Ajax.BeginForm("FarmLiability", "PolicyDetails", new { cid = @ViewBag.cid, PcId = @Model.PolicyData.PcId, step = 2 }, new AjaxOptions()
                    {
                        HttpMethod = "GET"

                    }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="row content policy-full-view">
                            <div class="col-xs-12">
                                <div class="well">
                                    @Html.HiddenFor(p => p.CustomerId)
                                    <h3 class="col-md-9 col-sm-9 col-xs-12">MOBILE FARM PROPERTY DETAILS</h3>
                                    @if (Model.ReferralList != "")
                                    {
                                        <div class="col-md-3 col-sm-3 col-xs-12">
                                            <div class="pull-right">
                                                <button type="button" href="#referralListModel" role="button" data-target="#referralListModel" data-toggle="modal" class="button-3d nomargin tab-linker" id="referralList" style="width:auto;border:none;background-color:#000000;color:#FFFFFF;margin-top:10px;line-height:22px;">Referral List</button>
                                            </div>
                                        </div>
                                        <div id="referralListModel" class="modal" data-easein="fadeIn" tabindex="-1" role="dialog" aria-labelledby="referralListModel" aria-hidden="false">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h3 class="pull-left">Referral List</h3>
                                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                                            <img src="~/images/close-icon.png" />
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <p>@Html.Raw(HttpUtility.HtmlDecode(Model.ReferralList));</p>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button class="btn btn-default no-border" data-dismiss="modal" aria-hidden="true"> Back </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    <div class="row">
                                        <p class="col-md-12 col-sm-12 col-xs-12 alert alert-info"><strong>Farm Contents</strong></p>
                                    </div>
                                    <div class="row">
                                        <p class="col-md-8 col-sm-8 col-xs-12">Location covered </p>
                                        <p class="col-md-4 col-sm-4 col-xs-12 text-right">
                                            @if (Model.AddressData != null && Model.AddressData.Count > 0)
                                            {
                                                <span>@Model.AddressData[0].AddressLine1,&nbsp;@Model.AddressData[0].Suburb,&nbsp;@Model.AddressData[0].State,&nbsp;@Model.AddressData[0].Postcode</span>
                                            }
                                        </p>
                                    </div>
                                    <div class="row">
                                        <p class="col-md-10 col-sm-10 col-xs-10">Do you require portable items cover to cover your farm contents Australia wide?</p>
                                        <p class="col-md-2 col-sm-2 col-xs-2 text-right">
                                            @if (Model.SectionData.ValueData.Exists(p => p.Element.ElId == 62403) && (Model.SectionData.ValueData.Find(p => p.Element.ElId == 62403).Value != ""))
                                            {
                                                <span>@Model.SectionData.ValueData.Find(p => p.Element.ElId == 62403).Value</span>
                                            }
                                        </p>
                                    </div>
                                    <div class="row">
                                        <p class="col-md-10 col-sm-10 col-xs-10">How much cover do you need to replace your farm contents?</p>
                                        <p class="col-md-2 col-sm-2 col-xs-2 text-right">
                                            @if (Model.SectionData.ValueData.Exists(p => p.Element.ElId == 62405) && (Model.SectionData.ValueData.Find(p => p.Element.ElId == 62405).Value != ""))
                                            {
                                                if(Model.SectionData.ValueData.Find(p => p.Element.ElId == 62405).Value =="1")
                                                {
                                                    <span>Yes</span>
                                                }
                                                else
                                                {
                                                    <span>No</span>
                                                }
                                            }
                                        </p>
                                    </div>
                                    <div class="row">
                                        <p class="col-md-10 col-sm-10 col-xs-10">Excess for farm contents</p>
                                        <p class="col-md-2 col-sm-2 col-xs-2 text-right">
                                            @if (Model.SectionData.ValueData.Exists(p => p.Element.ElId == 62407) && (Model.SectionData.ValueData.Find(p => p.Element.ElId == 62407).Value != ""))
                                            {
                                                <span>@Model.SectionData.ValueData.Find(p => p.Element.ElId == 62407).Value</span>
                                            }
                                        </p>
                                    </div>
                                    <div class="row">
                                        <p class="col-md-12 col-sm-12 col-xs-12 alert alert-info"><strong>Farm Machinery</strong></p>
                                    </div>
                                    <div class="row">
                                        <p class="col-md-10 col-sm-10 col-xs-10">You can insure unspecified items of farm machinery up to $5,000 for any one item</p>
                                        <p class="col-md-2 col-sm-2 col-xs-2 text-right">
                                            @if (Model.SectionData.ValueData.Exists(p => p.Element.ElId == 62423) && (Model.SectionData.ValueData.Find(p => p.Element.ElId == 62423).Value != ""))
                                            {
                                                <span>@Model.SectionData.ValueData.Find(p => p.Element.ElId == 62423).Value</span>
                                            }
                                        </p>
                                    </div>
                                    <div class="row">
                                        <p class="col-md-10 col-sm-10 col-xs-10">Excess for unspecified machinery</p>
                                        <p class="col-md-2 col-sm-2 col-xs-2 text-right">
                                            @if (Model.SectionData.ValueData.Exists(p => p.Element.ElId == 62425) && (Model.SectionData.ValueData.Find(p => p.Element.ElId == 62425).Value != ""))
                                            {
                                                <span>@Model.SectionData.ValueData.Find(p => p.Element.ElId == 62425).Value</span>
                                            }
                                        </p>
                                    </div>
                                    <div class="row">
                                        <p class="col-md-3 col-sm-3 col-xs-12 text-left">Description</p>
                                        <p class="col-md-2 col-sm-2 col-xs-12 text-left">Year</p>
                                        <p class="col-md-3 col-sm-3 col-xs-12 text-left">Serial Number</p>
                                        <p class="col-md-2 col-sm-2 col-xs-12 text-left">Excess</p>
                                        <p class="col-md-2 col-sm-2 col-xs-12 text-right">Sum Insured</p>
                                    </div>
                                    <div class="row">
                                        <p class="col-md-3 col-sm-3 col-xs-12 text-left">
                                            @if (Model.SectionData.ValueData != null && (Model.SectionData.ValueData.Count > 0))
                                            {
                                                for (int j = 0; j < Model.SectionData.ValueData.Count; j++)
                                                {
                                                    if (Model.SectionData.ValueData[j].Element.ElId == 62431 && Model.SectionData.ValueData[j].Value != "")
                                                    {
                                                        <span>@Model.SectionData.ValueData[j].Value</span><br /><br />
                                                    }
                                                }
                                            }
                                        </p>
                                        <p class="col-md-2 col-sm-2 col-xs-12 text-left">
                                            @if (Model.SectionData.ValueData != null && (Model.SectionData.ValueData.Count > 0))
                                            {
                                                for (int j = 0; j < Model.SectionData.ValueData.Count; j++)
                                                {
                                                    if (Model.SectionData.ValueData[j].Element.ElId == 62433 && Model.SectionData.ValueData[j].Value != "")
                                                    {
                                                        <span>@Model.SectionData.ValueData[j].Value</span><br /><br />
                                                    }
                                                }
                                            }
                                        </p>
                                        <p class="col-md-3 col-sm-3 col-xs-12 text-left">
                                            @if (Model.SectionData.ValueData != null && (Model.SectionData.ValueData.Count > 0))
                                            {
                                                for (int j = 0; j < Model.SectionData.ValueData.Count; j++)
                                                {
                                                    if (Model.SectionData.ValueData[j].Element.ElId == 62435 && Model.SectionData.ValueData[j].Value != "")
                                                    {
                                                        <span>@Model.SectionData.ValueData[j].Value</span><br /><br />
                                                    }
                                                }
                                            }
                                        </p>
                                        <p class="col-md-2 col-sm-2 col-xs-12 text-left">
                                            @if (Model.SectionData.ValueData != null && (Model.SectionData.ValueData.Count > 0))
                                            {
                                                for (int j = 0; j < Model.SectionData.ValueData.Count; j++)
                                                {
                                                    if (Model.SectionData.ValueData[j].Element.ElId == 62437 && Model.SectionData.ValueData[j].Value != "")
                                                    {
                                                        <span>@Model.SectionData.ValueData[j].Value</span><br /><br />
                                                    }
                                                }
                                            }
                                        </p>
                                        <p class="col-md-2 col-sm-2 col-xs-12 text-right">
                                            @if (Model.SectionData.ValueData != null && (Model.SectionData.ValueData.Count > 0))
                                            {
                                                for (int j = 0; j < Model.SectionData.ValueData.Count; j++)
                                                {
                                                    if (Model.SectionData.ValueData[j].Element.ElId == 62439 && Model.SectionData.ValueData[j].Value != "")
                                                    {
                                                        <span>@Model.SectionData.ValueData[j].Value</span><br /><br />
                                                    }
                                                }
                                            }
                                        </p>
                                    </div>
                                    <div class="row">
                                        <p class="col-md-12 col-sm-12 col-xs-12 alert alert-info"><strong>Livestock</strong></p>
                                    </div>
                                    <div class="row">
                                        <p class="col-md-12 col-sm-12 col-xs-12">Please list the livestock you wish to cover </p>
                                    </div>
                                    <div class="row">
                                        <p class="col-md-3 col-sm-3 col-xs-12 text-left">Description</p>
                                        <p class="col-md-3 col-sm-3 col-xs-12 text-left">Number of Animals</p>
                                        <p class="col-md-3 col-sm-3 col-xs-12 text-left">Sum Insured per Animal</p>
                                        <p class="col-md-3 col-sm-3 col-xs-12 text-left">Total Sum Insured</p>
                                    </div>
                                    <div class="row">
                                        <p class="col-md-3 col-sm-3 col-xs-12 text-left">
                                            @if (Model.SectionData.ValueData != null && (Model.SectionData.ValueData.Count > 0))
                                            {
                                                for (int j = 0; j < Model.SectionData.ValueData.Count; j++)
                                                {
                                                    if (Model.SectionData.ValueData[j].Element.ElId == 62467 && Model.SectionData.ValueData[j].Value != "")
                                                    {
                                                        if (Model.SectionData.ValueData[j].Value == "1")
                                                        {
                                                            <span>Alpacas</span>
                                                        }
                                                        else if (Model.SectionData.ValueData[j].Value == "2")
                                                        {
                                                            <span>Bulls</span>
                                                        }
                                                        else if (Model.SectionData.ValueData[j].Value == "3")
                                                        {
                                                            <span>Calves</span>
                                                        }
                                                        else if (Model.SectionData.ValueData[j].Value == "4")
                                                        {
                                                            <span>Cattle</span>
                                                        }
                                                        else if (Model.SectionData.ValueData[j].Value == "5")
                                                        {
                                                            <span>Deer</span>
                                                        }
                                                        else if (Model.SectionData.ValueData[j].Value == "6")
                                                        {
                                                            <span>Ewes</span>
                                                        }
                                                        else if (Model.SectionData.ValueData[j].Value == "7")
                                                        {
                                                            <span>Goats</span>
                                                        }
                                                        else if (Model.SectionData.ValueData[j].Value == "8")
                                                        {
                                                            <span>Heifers</span>
                                                        }
                                                        else if (Model.SectionData.ValueData[j].Value == "9")
                                                        {
                                                            <span>Hogs</span>
                                                        }
                                                        else if (Model.SectionData.ValueData[j].Value == "10")
                                                        {
                                                            <span>Horses</span>
                                                        }
                                                        else if (Model.SectionData.ValueData[j].Value == "11")
                                                        {
                                                            <span>Lambs</span>
                                                        }
                                                        else if (Model.SectionData.ValueData[j].Value == "12")
                                                        {
                                                            <span>Ostriches</span>
                                                        }
                                                        else if (Model.SectionData.ValueData[j].Value == "13")
                                                        {
                                                            <span>Pigs</span>
                                                        }
                                                        else if (Model.SectionData.ValueData[j].Value == "14")
                                                        {
                                                            <span>Poultry</span>
                                                        }
                                                        else if (Model.SectionData.ValueData[j].Value == "15")
                                                        {
                                                            <span>Rams</span>
                                                        }
                                                        else if (Model.SectionData.ValueData[j].Value == "16")
                                                        {
                                                            <span>Sheep</span>
                                                        }
                                                        else if (Model.SectionData.ValueData[j].Value == "17")
                                                        {
                                                            <span>Sows</span>
                                                        }
                                                        else if (Model.SectionData.ValueData[j].Value == "18")
                                                        {
                                                            <span>Steers</span>
                                                        }
                                                        else if (Model.SectionData.ValueData[j].Value == "19")
                                                        {
                                                            <span>Vealers</span>
                                                        }
                                                        else if (Model.SectionData.ValueData[j].Value == "20")
                                                        {
                                                            <span>Wethers</span>
                                                        }
                                                    }
                                                }
                                            }
                                        </p>
                                        <p class="col-md-3 col-sm-3 col-xs-12 text-left">
                                            @if (Model.SectionData.ValueData != null && (Model.SectionData.ValueData.Count > 0))
                                            {
                                                for (int j = 0; j < Model.SectionData.ValueData.Count; j++)
                                                {
                                                    if (Model.SectionData.ValueData[j].Element.ElId == 62469 && Model.SectionData.ValueData[j].Value != "")
                                                    {
                                                        <span>@Model.SectionData.ValueData[j].Value</span><br /><br />
                                                    }
                                                }
                                            }
                                        </p>
                                        <p class="col-md-3 col-sm-3 col-xs-12 text-left">
                                            @if (Model.SectionData.ValueData != null && (Model.SectionData.ValueData.Count > 0))
                                            {
                                                for (int j = 0; j < Model.SectionData.ValueData.Count; j++)
                                                {
                                                    if (Model.SectionData.ValueData[j].Element.ElId == 62471 && Model.SectionData.ValueData[j].Value != "")
                                                    {
                                                        <span>@Model.SectionData.ValueData[j].Value</span><br /><br />
                                                    }
                                                }
                                            }
                                        </p>
                                        <p class="col-md-3 col-sm-3 col-xs-12 text-right">
                                            @if (Model.SectionData.ValueData != null && (Model.SectionData.ValueData.Count > 0))
                                            {
                                                for (int j = 0; j < Model.SectionData.ValueData.Count; j++)
                                                {
                                                    if (Model.SectionData.ValueData[j].Element.ElId == 62473 && Model.SectionData.ValueData[j].Value != "")
                                                    {
                                                        <span>@Model.SectionData.ValueData[j].Value</span><br /><br />
                                                    }
                                                }
                                            }
                                        </p>
                                    </div>
                                    <div class="row">
                                        <p class="col-md-10 col-sm-10 col-xs-10">Do you wish to insure your livestock against dog attack?</p>
                                        <p class="col-md-2 col-sm-2 col-xs-2 text-right">
                                            @if (Model.SectionData.ValueData.Exists(p => p.Element.ElId == 62475) && (Model.SectionData.ValueData.Find(p => p.Element.ElId == 62475).Value != null))
                                            {
                                                if (Model.SectionData.ValueData.Find(p => p.Element.ElId == 62475).Value == "1")
                                                {
                                                    <span>Yes</span>
                                                }
                                                else
                                                {
                                                    <span>No</span>
                                                }
                                            }
                                        </p>
                                    </div>
                                    <div class="row">
                                        <p class="col-md-10 col-sm-10 col-xs-10">Excess for livestock</p>
                                        <p class="col-md-2 col-sm-2 col-xs-2 text-right">
                                            @if (Model.SectionData.ValueData.Exists(p => p.Element.ElId == 62477) && (Model.SectionData.ValueData.Find(p => p.Element.ElId == 62477).Value != ""))
                                            {
                                                <span>$@Model.SectionData.ValueData.Find(p => p.Element.ElId == 62477).Value</span>
                                            }
                                        </p>
                                    </div>
                                    <div class="row">
                                        <p class="col-md-12 col-sm-12 col-xs-12 alert alert-info"><strong>Working Dogs and Beehives</strong></p>
                                    </div>
                                    <div class="row">
                                        <p class="col-md-12 col-sm-12 col-xs-12"><strong>Working Dogs</strong></p>
                                    </div>
                                    <div class="row">
                                        <p class="col-md-10 col-sm-10 col-xs-10">Please advise the sum insured per dog</p>
                                        <p class="col-md-2 col-sm-2 col-xs-2 text-right">
                                            @if (Model.SectionData.ValueData.Exists(p => p.Element.ElId == 62491) && (Model.SectionData.ValueData.Find(p => p.Element.ElId == 62491).Value != ""))
                                            {
                                                <span>@Model.SectionData.ValueData.Find(p => p.Element.ElId == 62491).Value</span>
                                            }
                                        </p>
                                    </div>
                                    <div class="row">
                                        <p class="col-md-10 col-sm-10 col-xs-10">The number of working dogs</p>
                                        <p class="col-md-2 col-sm-2 col-xs-2 text-right">
                                            @if (Model.SectionData.ValueData.Exists(p => p.Element.ElId == 62493) && (Model.SectionData.ValueData.Find(p => p.Element.ElId == 62493).Value != ""))
                                            {
                                                <span>@Model.SectionData.ValueData.Find(p => p.Element.ElId == 62493).Value</span>
                                            }
                                        </p>
                                    </div>
                                    <div class="row">
                                        <p class="col-md-10 col-sm-10 col-xs-10">Total Sum Insured</p>
                                        <p class="col-md-2 col-sm-2 col-xs-2 text-right">
                                            @if (Model.SectionData.ValueData.Exists(p => p.Element.ElId == 62495) && (Model.SectionData.ValueData.Find(p => p.Element.ElId == 62495).Value != ""))
                                            {
                                                <span>$@Model.SectionData.ValueData.Find(p => p.Element.ElId == 62495).Value</span>
                                            }
                                        </p>
                                    </div>
                                    <div class="row">
                                        <p class="col-md-10 col-sm-10 col-xs-10">Excess for working dogs</p>
                                        <p class="col-md-2 col-sm-2 col-xs-2 text-right">
                                            @if (Model.SectionData.ValueData.Exists(p => p.Element.ElId == 62497) && (Model.SectionData.ValueData.Find(p => p.Element.ElId == 62497).Value != ""))
                                            {
                                                <span>$@Model.SectionData.ValueData.Find(p => p.Element.ElId == 62497).Value</span>
                                            }
                                        </p>
                                    </div>
                                    <div class="row">
                                        <p class="col-md-12 col-sm-12 col-xs-12"><strong>Beehives</strong></p>
                                    </div>
                                    <div class="row">
                                        <p class="col-md-10 col-sm-10 col-xs-10">What is the total amount of insurance you require for your beehives? </p>
                                        <p class="col-md-2 col-sm-2 col-xs-2 text-right">
                                            @if (Model.SectionData.ValueData.Exists(p => p.Element.ElId == 62503) && (Model.SectionData.ValueData.Find(p => p.Element.ElId == 62503).Value != ""))
                                            {
                                                <span>@Model.SectionData.ValueData.Find(p => p.Element.ElId == 62503).Value</span>
                                            }
                                        </p>
                                    </div>
                                    <div class="row">
                                        <p class="col-md-10 col-sm-10 col-xs-10">How many hives do you have?</p>
                                        <p class="col-md-2 col-sm-2 col-xs-2 text-right">
                                            @if (Model.SectionData.ValueData.Exists(p => p.Element.ElId == 62505) && (Model.SectionData.ValueData.Find(p => p.Element.ElId == 62505).Value != ""))
                                            {
                                                <span>@Model.SectionData.ValueData.Find(p => p.Element.ElId == 62505).Value</span>
                                            }
                                        </p>
                                    </div>
                                    <div class="row">
                                        <p class="col-md-10 col-sm-10 col-xs-10">Excess for beehives</p>
                                        <p class="col-md-2 col-sm-2 col-xs-2 text-right">
                                            @if (Model.SectionData.ValueData.Exists(p => p.Element.ElId == 62507) && (Model.SectionData.ValueData.Find(p => p.Element.ElId == 62507).Value != ""))
                                            {
                                                <span>$@Model.SectionData.ValueData.Find(p => p.Element.ElId == 62507).Value</span>
                                            }
                                        </p>
                                    </div>
                                    <div class="row">
                                        <button type="submit" class="btn-primary btn pull-right" style="margin-top:5% !important;">NEXT</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
                else
                {
                    using (Ajax.BeginForm("FarmLiability", "PolicyDetails", new { cid = @ViewBag.cid, PcId = @ViewBag.PcId, step = 2 }, new AjaxOptions()
                    {
                        HttpMethod = "GET"

                    }))
                    {
                        <div class="well">
                            @Html.HiddenFor(p => p.CustomerId)
                            <h3>MOBILE FARM PROPERTY DETAILS</h3>
                            <div class="row">
                                <p class="col-md-12 col-sm-12 col-xs-12 alert alert-info"><strong>No details</strong></p>
                            </div>
                            <div class="row">
                                <button type="submit" class="btn-primary btn pull-right" style="margin-top:5% !important;">NEXT</button>
                            </div>
                        </div>
                    }
                }
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 policy-side-wrap">
                <h3>Policy Sections</h3>
                <div class="well">
                    <div class="policy-loc-row">
                        <input type="radio" name="location1" id="location1" /><label for="radio1"><span><span></span></span>Home Building Location 1</label>
                        <script type="text/javascript">
                            $(document).ready(function () {
                                $('#location1').click(function () {
                                    $("#policy-ed-del-wrap1").fadeIn('slow');
                                    $("#policy-ed-del-wrap2").fadeOut('slow');
                                });
                            });
                        </script>
                        <div id="policy-ed-del-wrap1" class="policy-ed-del-wrapper" style="display: none;">
                            <a class="btn color-bk-btn policy-edit-wrap" href="#">Edit</a>&nbsp; <a class="btn color-bk-btn policy-delet-wrap" href="#">Delete</a>
                        </div>
                    </div>
                    <div class="policy-loc-row">
                        <input type="radio" name="location1" id="location2" /><label for="radio1"><span><span></span></span>Valuables</label>
                        <script type="text/javascript">
                            $(document).ready(function () {
                                $('#location2').click(function () {
                                    $("#policy-ed-del-wrap2").fadeIn('slow');
                                    $("#policy-ed-del-wrap1").fadeOut('slow');
                                });
                            });
                        </script>
                        <div id="policy-ed-del-wrap2" class="policy-ed-del-wrapper" style="display: none;">
                            <a class="btn color-bk-btn policy-edit-wrap" href="#">Edit</a>&nbsp; <a class="btn color-bk-btn policy-delet-wrap" href="#">Delete</a>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="dropdown pc pc-in">
                        <a class="new-cover-policy" href="#">New Cover</a>
                        <ul class="dropdown-menu col-md-12">
                            <li><a href="@Url.Action("FarmContents", "MobileFarm",new { cid = @ViewBag.cid })">+  Mobile Farm Property</a></li>
                            <li><a href="@Url.Action("FarmLocationDetails", "FarmPolicyProperty",new { cid = @ViewBag.cid })">+  Farm Property</a></li>
                            <li><a href="@Url.Action("FarmInterruption", "FarmPolicyFarmInterruption",new { cid = @ViewBag.cid })">+  Farm Interruption</a></li>

                            <li><a href="@Url.Action("FarmLiability", "FarmPolicyFarmLiability",new { cid = @ViewBag.cid })">+  Farm Liability</a></li>

                            <li><a href="@Url.Action("Burglary", "FarmPolicyBurglary",new { cid = @ViewBag.cid })">+  Burglary</a></li>
                            <li><a href="@Url.Action("Money", "FarmPolicyMoney",new { cid = @ViewBag.cid })">+  Money</a></li>
                            <li><a href="@Url.Action("Transit", "FarmPolicyTransit",new { cid = @ViewBag.cid })">+  Transit</a></li>

                            <li><a href="@Url.Action("Livestock", "FarmPolicyLivestock",new { cid = @ViewBag.cid })">+  Livestock</a></li>
                            <li><a href="@Url.Action("PersonalLiability", "FarmPolicyPersonalLiability",new { cid = @ViewBag.cid })">+  Liability</a></li>
                            <li><a href="@Url.Action("MainDetails", "FarmPolicyHome",new { cid = @ViewBag.cid })">+  Home Building</a></li>
                            <li><a href="@Url.Action("HomeContents", "FarmPolicyHomeContent",new { cid = @ViewBag.cid })">+  Home Content</a></li>

                            <li><a href="@Url.Action("Valuables", "FarmPolicyValuables",new { cid = @ViewBag.cid })">+  Valuables</a></li>
                            <li><a href="@Url.Action("Transit", "FarmPolicyTransit",new { cid = @ViewBag.cid })">+  Transit</a></li>

                            <li><a href="#">+  Valuables</a></li>
                            <li><a href="#">+  Transit</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>