@model InsureThatAPI.Models.ChangePasswordDetails
@{
    Layout = "~/Views/Shared/_Layout.cshtml"; ;
}
<div style="margin-top:40px;"></div>


@using (Ajax.BeginForm("ChangePassword", "Customer", null, new AjaxOptions()
{
    HttpMethod = "POST"

}))
{
    @Html.AntiForgeryToken()
    <div class="row content">
        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 text-center login-head-1">
            <h1>Password</h1>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="col-lg-12 login-head-2">
                <div class="col-md-3 col-sm-12 col-xs-12 text-center">
                    <img src="~/images/agent-login-icon.png" class="agent-icon" />
                </div>
                <div class="col-md-9 col-sm-12 col-xs-12"><h3>Change Password</h3></div>
            </div>
            <form>
                <div class="col-md-12 form-group">
                    <label class="col-lg-5 col-md-5 col-sm-4 col-xs-12">OLD PASSWORD</label>
                    <div class="col-lg-7 col-md-7 col-sm-8 col-xs-12">
                        @Html.TextBoxFor(model => model.Password, new { @class = "form-control form-border-bottom", @id = "password" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-12 form-group">
                    <label class="col-lg-5 col-md-5 col-sm-4 col-xs-12">NEW PASSWORD</label>
                    <div class="col-lg-7 col-md-7 col-sm-8 col-xs-12">

                        @Html.TextBoxFor(model => model.NewPassword, new { @class = "form-control form-border-bottom", @id = "newpassword" })
                        @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-12 form-group">
                    <label class="col-lg-5 col-md-5 col-sm-4 col-xs-12">CONFIRM PASSWORD</label>
                    <div class="col-lg-7 col-md-7 col-sm-8 col-xs-12">
                        @Html.TextBoxFor(model => model.RePassword, new { @class = "form-control form-border-bottom", @id = "repassword" })
                        @Html.ValidationMessageFor(m => m.RePassword, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="clearfix">&nbsp;</div>
                <div class="col-md-12">
                    <button type="submit" class="btn-primary btn pull-right">Save</button>
                </div>
            </form>
        </div>
    </div>

}

