@model InsureThatAPI.Models.PolicyTypes
@{
    Layout = "~/Views/Shared/_Layout.cshtml"; 
}

<div class="row content">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 main-head"> <h2>NEW POLICY</h2><span class="subhead1"></span></div>
    @using (Html.BeginForm("PolicyInclustions", "Customer", FormMethod.Get, new { cid = @ViewBag.CustomerId, enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div class="row row-gap-a">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <div class="policy-wrapprer">
                    <a href="@Url.Action("PolicyInclustions", "Customer",new { cid = @ViewBag.CustomerId, type=2 })"><img src="~/images/farm-icon.png" /></a>
                    <a href="@Url.Action("PolicyInclustions", "Customer",new { cid = @ViewBag.CustomerId, type=2 })">FARM PROPERTY</a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <div class="policy-wrapprer">
                    <a href="@Url.Action("PolicyInclustions", "Customer",new { cid = @ViewBag.CustomerId, type=1 })"><img src="~/images/rural-icon.png" /></a>
                    <a href="@Url.Action("PolicyInclustions", "Customer",new { cid = @ViewBag.CustomerId, type=1 })">RURAL LIFESTYLE</a>
                </div>
            </div>
            <div class="col-md-6 mt-50 pull-right text-right">
                <input type="submit" class="btn btn-primary color-bk-btn" name="next" value="Continue">
            </div>
        </div>

    }
</div>
