@model InsureThatAPI.Models.PolicyInclustions
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    var policyinclusions = Model.PolicyInclusions;
    var policyinclusion = new string[] { };

    if (policyinclusions != null)
    {
        policyinclusion = policyinclusions.Split('-');
    }
}

<link href="http://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700|Raleway:300,400,500,600,700" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="~/css/content.css" type="text/css" />
<link rel="stylesheet" href="~/css/form.css" type="text/css" />
<link rel="stylesheet" href="~/css/main_styles.css">
<link rel="stylesheet" href="~/css/font-icons.css" type="text/css" />
<link rel="stylesheet" href="~/css/animate.css" type="text/css" />
<link rel="stylesheet" href="~/css/magnific-popup.css" type="text/css" />

<link rel="stylesheet" href="~/css/responsive.css" type="text/css" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<style type="text/css">
    .device-lg #slider .emphasis-title h1 {
        font-size: 52px;
    }

    .device-md #slider .emphasis-title h1 {
        font-size: 44px;
    }

    .spl-checkbox-btns label {
        margin-bottom: 25px;
    }

        .spl-checkbox-btns label:nth-child(3n) {
            margin-right: 0%;
        }

        .spl-checkbox-btns label .checkbox-img {
            padding: 10px;
            background: rgba(245, 245, 245, 0.6);
            text-align: center;
            position: relative;
            min-height: 100px;
        }

    .spl-checkbox-btns img.tick {
        position: absolute;
        top: 15px;
        left: 15px;
        width: 30px;
        display: none;
    }

    .spl-checkbox-btns .checkbox-img input { /* HIDE checkbox */
        visibility: hidden; /* Makes input not-clickable */
        position: absolute; /* Remove input from document flow */
    }

    .spl-checkbox-btns label img {
        cursor: pointer;
    }

    .spl-checkbox-btns .checkbox-img input:checked + img.tick {
        display: block !important;
    }

    .spl-checkbox-btns .checkbox-img input:checked + checkbox-img {
        background: #000;
    }

    .spl-checkbox-btns .checkbox-txt {
        font-size: 1.4em;
        text-align: center;
        margin: 10px 0;
    }

    .spl-checkbox-btns .checkbox-img .checkbox-txt {
        font-size: 1em;
        text-align: center;
        margin: 20px 0 0px 0px;
        color: #474747;
    }

    .spl-checkbox-btns img.tick + .checkbox-txt {
        font-size: 1.5em;
        margin-top: -0.75em;
        position: absolute;
        width: 100%;
        text-align: center;
        top: 50%;
        left: 0;
    }

    .menuitemshow {
        background: #296cb5 !important;
    }

        .menuitemshow .checkbox-txt {
            color: #fff !important;
        }

        .menuitemshow .visible-icon {
            display: none;
        }

        .menuitemshow .hidden-icon {
            display: inline !important;
        }

    .hidden-icon {
        display: none;
    }

    .policy-wrapper {
        position: relative;
        min-height: 400px;
        width: 90%;
        margin: 50px auto;
    }

    body.policy-inclusion-wrap {
        background: url(~/images/policy-inclusion-bg.png) no-repeat left bottom 55px, url(~/images/body-bg-layer.png);
    }

    .selcttext {
        font-weight: bold;
    }

    .main-head span {
        margin: 10px 0;
        color: #ffde00;
        font-weight: bold;
    }

    .main-head {
        width: 90%;
        margin: 0 auto;
        float: none;
    }

    .row {
        margin-right: -15px;
        margin-left: -15px;
    }

    .row-gap-a {
        padding: 50px 0;
    }
</style>
<script type="text/javascript">
    $(document).ready(function () {
        /*$(".checkbox-img").click(function() {
          $(this).addClass("highlightbox");
          return false;
        });*/
        $('input:checkbox').change(function () {
            if ($(this).is(":checked")) {
                $(this).parent().addClass("menuitemshow");
            } else {
                $(this).parent().removeClass("menuitemshow");
            }
        });
    });


    function toggle(source) {
        checkboxes = document.getElementsByName('policytype');
        for (var i = 0, n = checkboxes.length; i < n; i++) {
            checkboxes[i].checked = source.checked;
            $(".checkbox-img").addClass("menuitemshow");
        }
    }
</script>
<div class="row content">
    @using (Html.BeginForm("PolicyInclustions", "Customer", FormMethod.Post, new { cid = @ViewBag.CustomerId, enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        if (ViewBag.ErrorMsg != null)
        {   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 main-head">
        <label style="color:red">@ViewBag.ErrorMsg</label>
    </div>
        }
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 main-head"> <span>Select the policy covers you want to insure *</span></div>
        <div class="row row-gap-a">
            @*<form class="acc-type" action="registration.php" id="acc-type" method="post">
            *@
            @Html.HiddenFor(p => p.CustomerId, new { value = Model.CustomerId })
            @Html.HiddenFor(p => p.PolicyType)
            @if (Model.PolicyType == 1)
            {
                <div class="spl-checkbox-btns clearfix">

                    <label class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                        <div class="checkbox-img imghome">
                            @if (policyinclusion != null && policyinclusions != null && policyinclusions.Length > 0 && policyinclusion[0] == "1")
                            {  @Html.CheckBoxFor(p => p.HomeBuilding, new { @checked = "checked" })
                                <img src="~/images/tick.png" class="tick" />
                                <img src="~/images/home-bulding-icon.png" class="visible-icon" />
                                <img src="~/images/home-bulding-reverse-icon.png" class="hidden-icon" />
                                <div class="checkbox-txt">Home Buildings</div>
                                <script type="text/javascript">
                                    $(document).ready(function () {
                                        $(".imghome").addClass("menuitemshow");
                                    });
                                </script>
                            }
                            else
                            {
                                @Html.CheckBoxFor(p => p.HomeBuilding)
                                @*<input type="checkbox" name="policytype" value="" />*@
                                <img src="~/images/tick.png" class="tick" />
                                <img src="~/images/home-bulding-icon.png" class="visible-icon" />
                                <img src="~/images/home-bulding-reverse-icon.png" class="hidden-icon" />
                                <div class="checkbox-txt">Home Buildings</div>
                            }
                        </div>
                    </label>
                    <label class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                        <div class="checkbox-img imghomecontent">
                            @if (policyinclusion != null && policyinclusions != null && policyinclusions.Length > 0 && policyinclusion[1] == "1")
                            {  @Html.CheckBoxFor(p => p.HomeContents, new { @checked = "checked" })
                                <img src="~/images/tick.png" class="tick" />
                                <img src="~/images/home-content-icon.png" class="visible-icon" />
                                <img src="~/images/home-content-icon-inverse.png" class="hidden-icon" />
                                <div class="checkbox-txt">Home Contents</div>
                                <script type="text/javascript">
                                    $(document).ready(function () {
                                        $(".imghomecontent").addClass("menuitemshow");
                                    });
                                </script>
                            }
                            else
                            {
                                @Html.CheckBoxFor(p => p.HomeContents)
                                @*<input type="checkbox" name="policytype" value="" />*@
                                <img src="~/images/tick.png" class="tick" />
                                <img src="~/images/home-content-icon.png" class="visible-icon" />
                                <img src="~/images/home-content-icon-inverse.png" class="hidden-icon" />
                                <div class="checkbox-txt">Home Contents</div>
                            }
                        </div>
                    </label>
                    <label class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                        <div class="checkbox-img imgtravel">
                            @if (policyinclusion != null && policyinclusions != null && policyinclusions.Length > 0 && policyinclusion[2] == "1")
                            {  @Html.CheckBoxFor(p => p.Travels, new { @checked = "checked" })
                                <img src="~/images/tick.png" class="tick" />
                                <img src="~/images/travel-icon.png" class="visible-icon" />
                                <img src="~/images/travel-icon-inverse.png" class="hidden-icon" />
                                <div class="checkbox-txt">Travel</div>
                                <script type="text/javascript">
                                    $(document).ready(function () {
                                        $(".imgtravel").addClass("menuitemshow");
                                    });
                                </script>
                            }
                            else
                            {
                                @Html.CheckBoxFor(p => p.Travels)
                                <img src="~/images/tick.png" class="tick" />
                                <img src="~/images/travel-icon.png" class="visible-icon" />
                                <img src="~/images/travel-icon-inverse.png" class="hidden-icon" />
                                <div class="checkbox-txt">Travel</div>
                            }
                        </div>
                    </label>
                    <label class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                        <div class="checkbox-img imgvaluables">
                            @if (policyinclusion != null && policyinclusions != null && policyinclusions.Length > 0 && policyinclusion[3] == "1")
                            {  @Html.CheckBoxFor(p => p.Valuables, new { @checked = "checked" })
                                <img src="~/images/tick.png" class="tick" />
                                <img src="~/images/valueble-icon.png" class="visible-icon" />
                                <img src="~/images/valuble-inversion-iocn.png" class="hidden-icon" />
                                <div class="checkbox-txt">Valuables</div>
                                <script type="text/javascript">
                                    $(document).ready(function () {
                                        $(".imgvaluables").addClass("menuitemshow");
                                    });
                                </script>
                            }
                            else
                            {
                                @Html.CheckBoxFor(p => p.Valuables)
                                <img src="~/images/tick.png" class="tick" />
                                <img src="~/images/valueble-icon.png" class="visible-icon" />
                                <img src="~/images/valuble-inversion-iocn.png" class="hidden-icon" />
                                <div class="checkbox-txt">Valuables</div>
                            }
                        </div>
                    </label>
                    <label class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                        <div class="checkbox-img imgfarmproperty">
                            @if (policyinclusion != null && policyinclusions != null && policyinclusions.Length > 0 && policyinclusion[4] == "1")
                            {  @Html.CheckBoxFor(p => p.FarmProperty, new { @checked = "checked" })
                                <img src="~/images/tick.png" class="tick" />
                                <img src="~/images/farm-property-icon.png" class="visible-icon" />
                                <img src="~/images/farm-property-inv-icon.png" class="hidden-icon" />
                                <div class="checkbox-txt">Farm Property</div>
                                <script type="text/javascript">
                                    $(document).ready(function () {
                                        $(".imgfarmproperty").addClass("menuitemshow");
                                    });
                                </script>
                            }
                            else
                            {
                                @Html.CheckBoxFor(p => p.FarmProperty)
                                <img src="~/images/tick.png" class="tick" />
                                <img src="~/images/farm-property-icon.png" class="visible-icon" />
                                <img src="~/images/farm-property-inv-icon.png" class="hidden-icon" />
                                <div class="checkbox-txt">Farm Property</div>
                            }
                        </div>
                    </label>
                    <label class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                        <div class="checkbox-img imgliabilities">
                            @if (policyinclusion != null && policyinclusions != null && policyinclusions.Length > 0 && policyinclusion[5] == "1")
                            {  @Html.CheckBoxFor(p => p.Liability, new { @checked = "checked" })
                                <img src="~/images/tick.png" class="tick" />
                                <img src="~/images/liability-icon.png" class="visible-icon" />
                                <img src="~/images/liability-inverse-icon.png" class="hidden-icon" />
                                <div class="checkbox-txt">Liability</div>
                                <script type="text/javascript">
                                    $(document).ready(function () {
                                        $(".imgliabilities").addClass("menuitemshow");
                                    });
                                </script>
                            }
                            else
                            {

                                @Html.CheckBoxFor(p => p.Liability)
                                <img src="~/images/tick.png" class="tick" />
                                <img src="~/images/liability-icon.png" class="visible-icon" />
                                <img src="~/images/liability-inverse-icon.png" class="hidden-icon" />
                                <div class="checkbox-txt">Liability</div>
                            }
                        </div>
                    </label>
                    <label class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                        <div class="checkbox-img imgboat">
                            @if (policyinclusion != null && policyinclusions != null && policyinclusions.Length > 0 && policyinclusion[6] == "1")
                            {  @Html.CheckBoxFor(p => p.Boat, new { @checked = "checked" })
                                <img src="~/images/tick.png" class="tick" />
                                <img src="~/images/boat-icon.png" class="visible-icon" />
                                <img src="~/images/boat-icon-inverse.png" class="hidden-icon" />
                                <div class="checkbox-txt">Boat</div>
                                <script type="text/javascript">
                                    $(document).ready(function () {
                                        $(".imgboat").addClass("menuitemshow");
                                    });
                                </script>
                            }
                            else
                            {
                                @Html.CheckBoxFor(p => p.Boat)
                                <img src="~/images/tick.png" class="tick" />
                                <img src="~/images/boat-icon.png" class="visible-icon" />
                                <img src="~/images/boat-icon-inverse.png" class="hidden-icon" />
                                <div class="checkbox-txt">Boat</div>
                            }
                        </div>
                    </label>
                    <label class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                        <div class="checkbox-img imgmotor">
                            @if (policyinclusion != null && policyinclusions != null && policyinclusions.Length > 0 && policyinclusion[7] == "1")
                            {  @Html.CheckBoxFor(p => p.Motor, new { @checked = "checked" })
                                <img src="~/images/tick.png" class="tick" />
                                <img src="~/images/motor-icon.png" class="visible-icon" />
                                <img src="~/images/motor-icon-inverse.png" class="hidden-icon" />
                                <div class="checkbox-txt">Motors</div>
                                <script type="text/javascript">
                                    $(document).ready(function () {
                                        $(".imgmotor").addClass("menuitemshow");
                                    });
                                </script>
                            }
                            else
                            {
                                @Html.CheckBoxFor(p => p.Motor)
                                <img src="~/images/tick.png" class="tick" />
                                <img src="~/images/motor-icon.png" class="visible-icon" />
                                <img src="~/images/motor-icon-inverse.png" class="hidden-icon" />
                                <div class="checkbox-txt">Motors</div>
                            }
                        </div>
                    </label>
                    <label class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                        <div class="checkbox-img imgpet">
                            @if (policyinclusion != null && policyinclusions != null && policyinclusions.Length > 0 && policyinclusion[8] == "1")
                            {  @Html.CheckBoxFor(p => p.Pet, new { @checked = "checked" })
                                <img src="~/images/tick.png" class="tick" />
                                <img src="~/images/pet-icon.png" class="visible-icon" />
                                <img src="~/images/inv-pet-icon.png" class="hidden-icon" />
                                <div class="checkbox-txt">Pets</div>
                                <script type="text/javascript">
                                    $(document).ready(function () {
                                        $(".imgpet").addClass("menuitemshow");
                                    });
                                </script>
                            }
                            else
                            {
                                @Html.CheckBoxFor(p => p.Pet)
                                <img src="~/images/tick.png" class="tick" />
                                <img src="~/images/pet-icon.png" class="visible-icon" />
                                <img src="~/images/inv-pet-icon.png" class="hidden-icon" />
                                <div class="checkbox-txt">Pets</div>
                            }
                        </div>
                    </label>
                </div>
                <div class="col-md-9 col-sm-9 col-xs-12 selcttext">* Home Building needs to be selected to proceed. You may also select other covers according to your needs</div>
            }
            else if (Model.PolicyType == 2)
            {

                <div class="spl-checkbox-btns clearfix">
                    <label class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                        <div class="checkbox-img imgmobilefarmpolicy">
                            @if (policyinclusion != null && policyinclusions != null && policyinclusions.Length == 1)
                            {  @Html.CheckBoxFor(p => p.MobileFarmProperty, new { @checked = "checked" })
                                <img src="~/images/tick.png" class="tick" />
                                    <img src="~/images/mobile-farm.png" class="visible-icon" />
                                        <img src="~/images/mobile-farm-inv.png" class="hidden-icon" />
                                        <div class="checkbox-txt">Mobile Farm Property</div>
                                        <script type="text/javascript">
                                            $(document).ready(function () {
                                                $(".imgmobilefarmpolicy").addClass("menuitemshow");
                                            });
                                        </script>
                            }
                            else if (policyinclusion != null && policyinclusions != null && policyinclusions.Length > 1 && policyinclusion[0] == "1")
                            {  @Html.CheckBoxFor(p => p.MobileFarmProperty, new { @checked = "checked" })
                                <img src="~/images/tick.png" class="tick" />
                                    <img src="~/images/mobile-farm.png" class="visible-icon" />
                                    <img src="~/images/mobile-farm-inv.png" class="hidden-icon" />
                                    <div class="checkbox-txt">Mobile Farm Property</div>
                                    <script type="text/javascript">
                                            $(document).ready(function () {
                                                $(".imgmobilefarmpolicy").addClass("menuitemshow");
                                            });
                                    </script>
                            }
                            else
                            {
                                @Html.CheckBoxFor(p => p.MobileFarmProperty)
                                <img src="~/images/tick.png" class="tick" />
                                    <img src="~/images/mobile-farm.png" class="visible-icon" />
                                    <img src="~/images/mobile-farm-inv.png" class="hidden-icon" />
                                    <div class="checkbox-txt">Mobile Farm Property</div>
                            }
                        </div>
                    </label>
                    <label class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                        <div class="checkbox-img imgfixedfarmpolicy">
                            @if (policyinclusion != null && policyinclusions != null && policyinclusions.Length > 2 && policyinclusion[1] == "1")
                            {
                                @Html.CheckBoxFor(p => p.FixedFarmProperty, new { @checked = "checked" })

                                <img src="~/images/tick.png" class="tick" />
                                    <img src="~/images/fixed-farm.png" class="visible-icon" />
                                    <img src="~/images/fixed-farm-inv.png" class="hidden-icon" />
                                    <div class="checkbox-txt">Fixed Farm Property</div>
                                    <script type="text/javascript">
                                            $(document).ready(function () {
                                                $(".imgfixedfarmpolicy").addClass("menuitemshow");
                                            });
                                    </script>
                            }
                            else
                            {
                                @Html.CheckBoxFor(p => p.FixedFarmProperty)
                                <img src="~/images/tick.png" class="tick" />
                                    <img src="~/images/fixed-farm.png" class="visible-icon" />
                                    <img src="~/images/fixed-farm-inv.png" class="hidden-icon" />
                                    <div class="checkbox-txt">Fixed Farm Property</div>
                            }

                        </div>
                    </label>
                    <label class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                        <div class="checkbox-img imgfarminteruption">
                            @if (policyinclusion != null && policyinclusions != null && policyinclusions.Length > 2 && policyinclusion[2] == "1")
                            {  @Html.CheckBoxFor(p => p.FarmInteruption, new { @checked = "checked" })

                                <img src="~/images/tick.png" class="tick" />
                                    <img src="~/images/farm-interption.png" class="visible-icon" />
                                    <img src="~/images/farm-interption-inv.png" class="hidden-icon" />
                                    <div class="checkbox-txt">Farm Interruption</div>
                                    <script type="text/javascript">
                                            $(document).ready(function () {
                                                $(".imgfarminteruption").addClass("menuitemshow");
                                            });
                                    </script>
                            }
                            else
                            {
                                @Html.CheckBoxFor(p => p.FarmInteruption)
                                <img src="~/images/tick.png" class="tick" />
                                    <img src="~/images/farm-interption.png" class="visible-icon" />
                                    <img src="~/images/farm-interption-inv.png" class="hidden-icon" />
                                    <div class="checkbox-txt">Farm Interruption</div>
                            }
                        </div>
                    </label>
                    <label class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                        <div class="checkbox-img imgfarmliability">
                            @if (policyinclusion != null && policyinclusions != null && policyinclusions.Length > 3 && policyinclusion[3] == "1")
                            {  @Html.CheckBoxFor(p => p.FarmLiability, new { @checked = "checked" })

                                <img src="~/images/tick.png" class="tick" />
                                    <img src="~/images/farm-liability.png" class="visible-icon" />
                                    <img src="~/images/farm-liability-inv.png" class="hidden-icon" />
                                    <div class="checkbox-txt">Farm Liability</div>
                                    <script type="text/javascript">
                                            $(document).ready(function () {
                                                $(".imgfarmliability").addClass("menuitemshow");
                                            });
                                    </script>
                            }
                            else
                            {
                                @Html.CheckBoxFor(p => p.FarmLiability)
                                <img src="~/images/tick.png" class="tick" />
                                    <img src="~/images/farm-liability.png" class="visible-icon" />
                                    <img src="~/images/farm-liability-inv.png" class="hidden-icon" />
                                    <div class="checkbox-txt">Farm Liability</div>
                            }
                        </div>
                    </label>
                    <label class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                        <div class="checkbox-img imgburglary">
                            @if (policyinclusion != null && policyinclusions != null && policyinclusions.Length > 4 && policyinclusion[4] == "1")
                            {  @Html.CheckBoxFor(p => p.Burglary, new { @checked = "checked" })

                                <img src="~/images/tick.png" class="tick" />
                                    <img src="~/images/burglary.png" class="visible-icon" />
                                    <img src="~/images/burglary-inv.png" class="hidden-icon" />
                                    <div class="checkbox-txt">Burglary</div>
                                    <script type="text/javascript">
                                            $(document).ready(function () {
                                                $(".imgburglary").addClass("menuitemshow");
                                            });
                                    </script>
                            }
                            else
                            {
                                @Html.CheckBoxFor(p => p.Burglary)
                                <img src="~/images/tick.png" class="tick" />
                                    <img src="~/images/burglary.png" class="visible-icon" />
                                    <img src="~/images/burglary-inv.png" class="hidden-icon" />
                                    <div class="checkbox-txt">Burglary</div>
                            }
                        </div>
                    </label>
                    <label class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                        <div class="checkbox-img imgelectronics">
                            @if (policyinclusion != null && policyinclusions != null && policyinclusions.Length > 5 && policyinclusion[5] == "1")
                            {  @Html.CheckBoxFor(p => p.Electronics, new { @checked = "checked" })

                                <img src="~/images/tick.png" class="tick" />
                                    <img src="~/images/electroics.png" class="visible-icon" />
                                    <img src="~/images/electroics-inv.png" class="hidden-icon" />
                                    <div class="checkbox-txt">Electronics</div>
                                    <script type="text/javascript">
                                            $(document).ready(function () {
                                                $(".imgelectronics").addClass("menuitemshow");
                                            });
                                    </script>
                            }
                            else
                            {
                                @Html.CheckBoxFor(p => p.Electronics)
                                <img src="~/images/tick.png" class="tick" />
                                    <img src="~/images/electroics.png" class="visible-icon" />
                                    <img src="~/images/electroics-inv.png" class="hidden-icon" />
                                    <div class="checkbox-txt">Electronics</div>
                            }
                        </div>
                    </label>
                    <label class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                        <div class="checkbox-img imgmoney">
                            @if (policyinclusion != null && policyinclusions != null && policyinclusions.Length > 6 && policyinclusion[6] == "1")
                            {  @Html.CheckBoxFor(p => p.Money, new { @checked = "checked" })

                                <img src="~/images/tick.png" class="tick" />
                                    <img src="~/images/insurance.png" class="visible-icon" />
                                    <img src="~/images/insurance-inv.png" class="hidden-icon" />
                                    <div class="checkbox-txt">Money</div>
                                    <script type="text/javascript">
                                            $(document).ready(function () {
                                                $(".imgmoney").addClass("menuitemshow");
                                            });
                                    </script>
                            }
                            else
                            {
                                @Html.CheckBoxFor(p => p.Money)
                                <img src="~/images/tick.png" class="tick" />
                                    <img src="~/images/insurance.png" class="visible-icon" />
                                    <img src="~/images/insurance-inv.png" class="hidden-icon" />
                                    <div class="checkbox-txt">Money</div>
                            }
                        </div>
                    </label>
                    <label class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                        <div class="checkbox-img imgtransit">
                            @if (policyinclusion != null && policyinclusions != null && policyinclusions.Length > 7 && policyinclusion[7] == "1")
                            {  @Html.CheckBoxFor(p => p.Transit, new { @checked = "checked" })

                                <img src="~/images/tick.png" class="tick" />
                                    <img src="~/images/transit.png" class="visible-icon" />
                                    <img src="~/images/transit-inv.png" class="hidden-icon" />
                                    <div class="checkbox-txt">Transit</div>
                                    <script type="text/javascript">
                                            $(document).ready(function () {
                                                $(".imgtransit").addClass("menuitemshow");
                                            });
                                    </script>
                            }
                            else
                            {
                                @Html.CheckBoxFor(p => p.Transit)
                                <img src="~/images/tick.png" class="tick" />
                                    <img src="~/images/transit.png" class="visible-icon" />
                                    <img src="~/images/transit-inv.png" class="hidden-icon" />
                                    <div class="checkbox-txt">Transit</div>
                            }
                        </div>
                    </label>
                    <label class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                        <div class="checkbox-img imgfarmvaluables">
                            @if (policyinclusion != null && policyinclusions != null && policyinclusions.Length > 8 && policyinclusion[8] == "1")
                            {  @Html.CheckBoxFor(p => p.ValuablesFarm, new { @checked = "checked" })

                                <img src="~/images/tick.png" class="tick" />
                                    <img src="~/images/valueble-icon.png" class="visible-icon" />
                                    <img src="~/images/valuble-inversion-iocn.png" class="hidden-icon" />
                                    <div class="checkbox-txt">Valuables</div>
                                    <script type="text/javascript">
                                            $(document).ready(function () {
                                                $(".imgfarmvaluables").addClass("menuitemshow");
                                            });
                                    </script>
                            }
                            else
                            {
                                @Html.CheckBoxFor(p => p.ValuablesFarm)
                                <img src="~/images/tick.png" class="tick" />
                                    <img src="~/images/valueble-icon.png" class="visible-icon" />
                                    <img src="~/images/valuble-inversion-iocn.png" class="hidden-icon" />
                                    <div class="checkbox-txt">Valuables</div>
                            }
                        </div>
                    </label>
                    <label class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                        <div class="checkbox-img imgfarmlivestock">
                            @if (policyinclusion != null && policyinclusions != null && policyinclusions.Length > 9 && policyinclusion[9] == "1")
                            {  @Html.CheckBoxFor(p => p.LiveStockFarm, new { @checked = "checked" })

                                <img src="~/images/tick.png" class="tick" />
                                    <img src="~/images/livestock.png" class="visible-icon" />
                                    <img src="~/images/livestock-inv.png" class="hidden-icon" />
                                    <div class="checkbox-txt">Livestock</div>
                                    <script type="text/javascript">
                                            $(document).ready(function () {
                                                $(".imgfarmlivestock").addClass("menuitemshow");
                                            });
                                    </script>
                            }
                            else
                            {
                                @Html.CheckBoxFor(p => p.LiveStockFarm)
                                <img src="~/images/tick.png" class="tick" />
                                    <img src="~/images/livestock.png" class="visible-icon" />
                                    <img src="~/images/livestock-inv.png" class="hidden-icon" />
                                    <div class="checkbox-txt">Livestock</div>
                            }
                        </div>
                    </label>
                    <label class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                        <div class="checkbox-img imgfarmpersonalliabilities">
                            @if (policyinclusion != null && policyinclusions != null && policyinclusions.Length > 10 && policyinclusion[10] == "1")
                            {  @Html.CheckBoxFor(p => p.PersonalLiabilitiesFarm, new { @checked = "checked" })

                                <img src="~/images/tick.png" class="tick" />
                                    <img src="~/images/personal-liability.png" class="visible-icon" />
                                    <img src="~/images/personal-liability-inv.png" class="hidden-icon" />
                                    <div class="checkbox-txt">Personal Liability</div>
                                    <script type="text/javascript">
                                            $(document).ready(function () {
                                                $(".imgfarmpersonalliabilities").addClass("menuitemshow");
                                            });
                                    </script>
                            }
                            else
                            {
                                @Html.CheckBoxFor(p => p.PersonalLiabilitiesFarm)
                                <img src="~/images/tick.png" class="tick" />
                                    <img src="~/images/personal-liability.png" class="visible-icon" />
                                    <img src="~/images/personal-liability-inv.png" class="hidden-icon" />
                                    <div class="checkbox-txt">Personal Liability</div>
                            }
                        </div>
                    </label>
                    <label class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                        <div class="checkbox-img imgfarmhomebuilding">
                            @if (policyinclusion != null && policyinclusions != null && policyinclusions.Length > 11 && policyinclusion[11] == "1")
                            {  @Html.CheckBoxFor(p => p.HomeBuildingFarm, new { @checked = "checked" })

                                <img src="~/images/tick.png" class="tick" />
                                    <img src="~/images/home-bulding-icon.png" class="visible-icon" />
                                    <img src="~/images/home-bulding-reverse-icon.png" class="hidden-icon" />
                                    <div class="checkbox-txt">Home Building</div>
                                    <script type="text/javascript">
                                            $(document).ready(function () {
                                                $(".imgfarmhomebuilding").addClass("menuitemshow");
                                            });
                                    </script>
                            }
                            else
                            {
                                @Html.CheckBoxFor(p => p.HomeBuildingFarm)
                                <img src="~/images/tick.png" class="tick" />
                                    <img src="~/images/home-bulding-icon.png" class="visible-icon" />
                                    <img src="~/images/home-bulding-reverse-icon.png" class="hidden-icon" />
                                    <div class="checkbox-txt">Home Building</div>
                            }
                        </div>
                    </label>
                    <label class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                        <div class="checkbox-img imgfarmhomecontent">
                            @if (policyinclusion != null && policyinclusions != null && policyinclusions.Length > 12 && policyinclusion[12] == "1")
                            {  @Html.CheckBoxFor(p => p.HomeContent, new { @checked = "checked" })

                                <img src="~/images/tick.png" class="tick" />
                                    <img src="~/images/home-content-icon.png" class="visible-icon" />
                                    <img src="~/images/home-content-icon-inverse.png" class="hidden-icon" />
                                    <div class="checkbox-txt">Home Content</div>
                                    <script type="text/javascript">
                                            $(document).ready(function () {
                                                $(".imgfarmhomecontent").addClass("menuitemshow");
                                            });
                                    </script>
                            }
                            else
                            {
                                @Html.CheckBoxFor(p => p.HomeContent)
                                <img src="~/images/tick.png" class="tick" />
                                    <img src="~/images/home-content-icon.png" class="visible-icon" />
                                    <img src="~/images/home-content-icon-inverse.png" class="hidden-icon" />
                                    <div class="checkbox-txt">Home Content</div>
                            }
                        </div>
                    </label>
                    <label class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                        <div class="checkbox-img imgfarmmechinery">
                            @if (policyinclusion != null && policyinclusions != null && policyinclusions.Length > 13 && policyinclusion[13] == "1")
                            {  @Html.CheckBoxFor(p => p.Machinery, new { @checked = "checked" })

                                <img src="~images/tick.png" class="tick" />
                                    <img src="~/images/machinery.png" class="visible-icon" />
                                    <img src="~/images/machinery-inv.png" class="hidden-icon" />
                                    <div class="checkbox-txt">Machinery</div>
                                    <script type="text/javascript">
                                            $(document).ready(function () {
                                                $(".imgfarmmechinery").addClass("menuitemshow");
                                            });
                                    </script>
                            }
                            else
                            {
                                @Html.CheckBoxFor(p => p.Machinery)
                                <img src="~images/tick.png" class="tick" />
                                    <img src="~/images/machinery.png" class="visible-icon" />
                                    <img src="~/images/machinery-inv.png" class="hidden-icon" />
                                    <div class="checkbox-txt">Machinery</div>
                            }
                        </div>
                    </label>
                    <label class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                        <div class="checkbox-img imgmotorfarm">
                            @if (policyinclusion != null && policyinclusions != null && policyinclusions.Length > 14 && policyinclusion[14] == "1")
                            {  @Html.CheckBoxFor(p => p.MotorFarm, new { @checked = "checked" })

                                <img src="~/images/tick.png" class="tick" />
                                    <img src="~/images/motor-icon.png" class="visible-icon" />
                                    <img src="~/images/motor-icon-inverse.png" class="hidden-icon" />
                                    <div class="checkbox-txt">Motor</div>
                                    <script type="text/javascript">
                                            $(document).ready(function () {
                                                $(".imgmotorfarm").addClass("menuitemshow");
                                            });
                                    </script>
                            }
                            else
                            {
                                @Html.CheckBoxFor(p => p.MotorFarm)
                                <img src="~/images/tick.png" class="tick" />
                                    <img src="~/images/motor-icon.png" class="visible-icon" />
                                    <img src="~/images/motor-icon-inverse.png" class="hidden-icon" />
                                    <div class="checkbox-txt">Motor</div>
                            }
                        </div>
                    </label>

                    @*}
                        else
                        {

                            <label class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                <div class="checkbox-img imgmobilefarmpolicy">
                                  @Html.CheckBoxFor(p => p.MobileFarmProperty, new { @checked = "checked" })
                                        <img src="~/images/tick.png" class="tick" />
                                        <img src="~/images/mobile-farm.png" class="visible-icon" />
                                        <img src="~/images/mobile-farm-inv.png" class="hidden-icon" />
                                        <div class="checkbox-txt">Mobile Farm Property</div>
                                        <script type="text/javascript">
                                            $(document).ready(function () {
                                                $(".imgmobilefarmpolicy").addClass("menuitemshow");
                                            });
                                        </script>

                                </div>
                            </label>
                        }*@
                </div>


                    <div class="col-md-9 col-sm-9 col-xs-12 selcttext">* Fixed Farm Property needs to be selected to proceed. You may also select other covers according to your needs.</div>
            }
            <div class="col-md-3 col-sm-3 col-xs-12">
                @*<input type="button" name="submit" value="+ SELECT ALL" onClick="toggle(this);" class="btn-primary btn">*@
                <input type="submit" name="submit" value="Continue" class="btn primary-btn submit-btn">
            </div>
            @*
                </form>*@

        </div>
    }
</div>
<script type="text/javascript">
                                            $(document).ready(function () {
                                                $('input:checkbox').change(function () {
                                                    if ($(this).is(":checked")) {
                                                        $(this).parent().addClass("menuitemshow");
                                                    } else {
                                                        $(this).parent().removeClass("menuitemshow");
                                                    }
                                                });
                                            });


                                            function toggle(source) {
                                                checkboxes = document.getElementsByName('policytype');
                                                for (var i = 0, n = checkboxes.length; i < n; i++) {
                                                    checkboxes[i].checked = source.checked;
                                                    $(".checkbox-img").addClass("menuitemshow");
                                                }
                                            }
</script>
