@model InsureThatAPI.Models.GetNewPolicyDetailsRef
@{
    ViewBag.Title = "PolicyList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row content">
    <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12 policy-full-head"><h2>POLICY List<span>JOE Mathews</span></h2></div>

    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <a class="btn color-bk-btn mr-10 pull-right" href="@Url.Action("NewPolicy", "Customer",new { CustomerId = 1 })">Add Policy</a>
        <div class="row-gap-a"></div>
        @*<div class="p-10 col-md-12 border-bottom-1 mb-15">*@

            @*<div class="col-lg-1 col-md-1 col-sm-2 col-xs-12">
                    <img src="images/farm-icon.png" class="policy-list-img">
                </div>*@

            @*@using (Ajax.BeginForm("HomeDescription", "RuralLifeStyle", new { cid = @ViewBag.CustomerId }, new AjaxOptions()
                {
                    HttpMethod = "Get"

                }))
                {
                    @Html.AntiForgeryToken()*@
            @using (Html.BeginForm())
            {
            @Html.AntiForgeryToken()
                if (Model.PolicyData != null && Model.PolicyData.Count() > 0)
                {
                    for (int i = 0; i < Model.PolicyData.Count(); i++)
                    {
            <div class="col-lg-1 col-md-1 col-sm-2 col-xs-12">
                @if (Model.PolicyData[i].PrId == 1029 || Model.PolicyData[i].PrId == 1009)
                            {
                            <img src="~/images/rural-icon.png" class="policy-list-img">
                            }
                            else
                            {
                            <img src="~/images/farm-icon.png" class="policy-list-img">
                            }
            </div>
            <div class="col-lg-11 col-md-11 col-sm-10 col-xs-12">
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 p-10">
                                Policy Type: @if (Model.PolicyData[i].PrId == 1029 || Model.PolicyData[i].PrId == 1009)
                                            {
                                            <lable>Rural Lifestyle</lable>
                                            }
                                            else
                                            { <label>Farm</label>
                                            }
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 p-10">Policy No: @Model.PolicyData[i].PolicyNumber</div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 p-10">Insured: JOE Mathews</div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 p-10">Start Date: @Model.PolicyData[i].InceptionDate.ToString("MM/dd/yy")</div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 p-10">End Date: @Model.PolicyData[i].ExpiryDate.ToString("MM/dd/yy")</div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 p-10">Duration: @Model.PolicyData[i].CoverPeriod&nbsp; @Model.PolicyData[i].CoverPeriodUnit </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <a href="@Url.Action("ViewUpdatePolicyDetails", "Customer",new {CustomerId=1, PcId= @Model.PolicyData[i].PcId,screen=0})" class="btn-primary btn col-md-12 mb-5">View Details</a>

                    <a href="#" class="btn-primary btn col-sm-12 col-xs-5">Cancel Policy</a>
                </div>
            </div>
                    }
                }
                else
                {
            <div><label>No Policies under this customer</label></div>
                }
            }
        </div>
    </div>
@*</div>*@

