@model InsureThatAPI.Models.Floodarea
@{
    ViewBag.Title = "Flood Area";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 endorsmentview">
    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 policy-full-head">
        <h2>FLOOD COVER</h2>
    </div>
    @using (Html.BeginForm("FloodArea", "Flood", FormMethod.Post, new { @id = "floodcover", @name = "floodcover" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.CustomerId)
        @Html.HiddenFor(m => m.policyType)
        @Html.HiddenFor(m => m.insureId)
        @Html.HiddenFor(p => p.FldDefault, new { @class = "flosdefault" })
        <div class="mt-10 mb-10 col-md-12 ">
            <p class="col-md-8 col-sm-8 col-xs-12 policy-loc-row">Do you require <a href="#ExcesshomeBuildingModel" role="button" data-target="#ExcesshomeBuildingModel" data-toggle="modal">Flood</a> cover for the Farm Property, Home Building or Home Contents?</p>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="col-md-6 col-sm-6 col-xs-12 policy-loc-row">@Html.RadioButtonFor(p => p.FloodArea, "1", new { @class = "flodar vlidationInsure", @id = "floodcoveryes" })<label for="radio1"><span><span></span></span>Yes</label></div>
                <div class="col-md-6 col-sm-6 col-xs-12 policy-loc-row">@Html.RadioButtonFor(p => p.FloodArea, "0", new { @class = "flodar vlidationInsure", @id = "floodcoverno" })<label for="radio1"><span><span></span></span>No</label></div>
                <br />
                <label id="FloodArea-error" class="error" for="FloodArea" style="clear:both;"></label>
            </div>
        </div>
        <div id="ExcesshomeBuildingModel" class="modal" data-easein="fadeIn" tabindex="-1" role="dialog" aria-labelledby="ExcesshomeBuildingModel" aria-hidden="false">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="pull-left">Flood Cover</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            <img src="~/images/close-icon.png" />
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>The covering of normally dry land by water that has escaped or been released from the normal confines of:</p>
                        <ul style="list-style:none;">
                            <li>(1) any lake, or any river, creek or other natural watercourse whether or not altered or modified; or </li>
                            <li>(2) any reservoir, canal or dam</li>
                        </ul>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-default no-border" data-dismiss="modal" aria-hidden="true"> Back </button>
                    </div>
                </div>
            </div>
        </div>

        if (ViewBag.error != null)
        {
            <div style="color:red;"><p class="mt-10 mb-10 col-md-12 policy-loc-row sadhide">@ViewBag.error <img src="~/images/sad.png" alt="sad" width="60" /></p></div>
        }
        @*@*if (ViewBag.errors != null)
        {
            <div style="color:red;" class="text-center"><p class="mt-10 mb-10 col-md-12 policy-loc-row">@ViewBag.errors</p></div>
        }*@
        <div class="clearfix"></div>
        <div class="col-md-8 col-sm-8 col-xs-12 policy-loc-row"></div>
        <div class="col-md-4 col-sm-4 col-xs-12 errorhiden"></div>
        <div class="clearfix"></div>
        <div class="col-md-6 pull-right text-right mt-30">
            <button type="submit" class="button-3d nomargin tab-linker quot-next-btn ptabbtn3" id="">Submit</button>
        </div>
    }
</div>
<script type="text/javascript" src="~/Scripts/jquery.validate.js"></script>
<script type="text/javascript" src="~/Scripts/additional-methods.js"></script>
<script>
    $(document).ready(function () {
        var floodvalue = -1;


        $(document).on('click', 'input[name="FloodArea"]', function () {
            var isb = $("input[name='FloodArea']:checked").val();
          
            if (isb == 1) {
                floodvalue = 1;
            }
            else if (isb == 0)
            {
                floodvalue = 0;
                $(".sadhide").hide();
            }
        });
       
        $(".ptabbtn3").click(function () {
        
            if (floodvalue == 0 || floodvalue == 1) {
              
            }
            else if (floodvalue == -1) {
                $(".errorhiden").text("Please select NO to continue.").css({ 'color': 'red' }).delay(10000).fadeOut();
                return false;
            }
        });
    });
</script>



























